.top_panel_top{font-size: 14px; font-family: 'Open Sans'; padding:10px 0; text-align: center;}
.top_panel_top > span{display: inline-block; margin:0 40px;}
.top_panel_top > span > strong{font-weight: 600;}
.top_panel_middle{padding:20px 0;}
.top_panel_middle .logo{margin:0;}

.slider_topo{background:#9DC31E; padding:50px 0 60px 0;}

.slider_topo .left_slider_top{float: left; width: 450px;}
.slider_topo .left_slider_top > h1{font-size: 47px; color:#fff; display: block; padding:0; margin:0;}
.slider_topo .left_slider_top > p{font-size: 22px; color:#103C6B; display: block; margin-top: 5px; margin-bottom: 55px; line-height: 32px;}
.slider_topo .left_slider_top > a{font-size: 20px; cursor: pointer; background:#103C6B; color:#fff; padding: 15px 25px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.slider_topo .left_slider_top > a:hover{background: #0d3056;}
.slider_topo .right_slider_top{float: right; width: 510px; margin-top: 25px;}
.slider_topo .right_slider_top .ratiovideo{padding-bottom:56.25%; position: relative; float: left; width: 100%; height: 0;}
.slider_topo .right_slider_top .mediaratio{position: absolute; left:0; top:0; width: 100%; height: 100%;}
.center_planos{padding-bottom: 60px !important; padding-top: 5px !important;}
.tipos_otimizacao_center_home{padding:60px 0;}
.tipos_otimizacao_center_home h3{padding:0;}
.left_otimizacao{float: left; width: 500px;}
.right_otimizacao{float: right; width: 500px;}
.desc_otimizacao{text-align: center;}
.title_top_block {padding: 35px 0;}
.depoimentos_center_home{background: #171f2a; padding:60px 0; text-align: center;}
.title_top_block h2{display: block; color:#fff; padding:0 !important; margin-top:0 !important;}
.title_top_block div{color:#fff;}
.list_depoiments{width: 100%; margin-top: 30px; text-align: center;}
.list_depoiments .rep_depoiments{width:400px; margin: 15px 15px; display: inline-block;}
.list_depoiments .rep_depoiments .ratiovideo{padding-bottom:56.25%; position: relative; float: left; width: 100%; height: 0;}
.list_depoiments .rep_depoiments .mediaratio{position: absolute; left:0; top:0; width: 100%; height: 100%;}
.duvidas_center_home{padding:60px 0; text-align: center;}
.bar_duvidas > span{display: inline-block; font-size:16px; color:#333; margin:0 15px 0 0;}
.bar_duvidas > a{background: #9DC31E; font-size:16px; padding:20px; border-radius: 10px; color:#fff; margin:0 0 0 15px; text-decoration: none;}
.bar_duvidas > a:hover{background: #82a01c;}
.menu-item a{cursor: pointer;}
.page_center_otimizar{padding:40px 0 80px 0;}
.listequipe{font-size: 14px; line-height: 30px; color:#585858;}
.listequipe img{float: left; margin-right: 20px; max-width: 550px; margin-top: 5px;}
.list_perguntas{padding:15px 30px; border-bottom: 1px solid #ddd; background: #f2f2f2;}
.list_perguntas .title_perguntas{font-size: 16px; cursor:pointer; color:#333;}
.list_perguntas .descr_perguntas{font-size: 14px; margin-top: 15px; line-height: 24px; color:#777;}
.icon_whatsapp_bottom{background: #00e676; position:fixed; bottom:20px; left:20px; width: auto; line-height: 100%; padding: 13px; display: block; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;}

.menu_main_nav > li > a{padding:10px; font-weight: 600;}
.menu_main_nav > li.botao a{background: #103C6B; color: #fff; border-radius:8px; text-decoration: none; padding:10px !important;}
.menu_main_nav > li.botao a:hover{color: #fff !important; background: #0d3056;}

.error_form{background: #f9e5e6; border: 1px solid #fad2d3; padding: 7px; font-size:14px; color:#a94442;}
.success_form{background: #dff0d8; border: #d6e9c6 1px solid; color: #3c763d; padding: 7px; font-size:14px;}
.return_form{display: none; width: 100%; float: left;}
.return_form img{float: right;}

.form_agencias{padding:0;}
.form_agencias label.two_inputs{padding:0 10px; margin-bottom: 15px; float: left; width: 48%;}
.form_agencias label.one_inputs{padding:0 10px; margin-bottom: 15px; float: left; width: 100%; box-sizing: border-box;}
.form_agencias label > span{font-size: 13px; color:#333; display: block; font-weight: 400;}
.form_agencias label > input, .form_agencias label > select, .form_agencias label > textarea{display: block; width: 100%; font-size: 14px; padding:8px; line-height: 100%; font-weight: 400; color:#666; border:1px solid #ddd; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.form_agencias label > select{padding:7px 8px !important;}
.form_agencias label > textarea{height: 100px;}
.form_agencias .return_form{font-size:13px; padding:0 10px; line-height: 100%; margin-bottom: 15px; box-sizing: border-box;}
.form_agencias .return_form > strong{font-weight: 700;}

.send_info_form{padding:0 10px;}
.send_info_form > input{background: #9DC31E; border: none; color:#fff; padding:10px 30px; line-height: 100%; font-size: 15px; text-decoration: none; float:right; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.send_info_form > input:hover{background: #88a91a; color:#fff;}

.title_val{line-height: 60px !important;}
.subtitle_value{font-size: 15px; color:#fff; display: block; padding:0; line-height: 100%;}

my-email::after {
    content: attr(data-domain);
}
my-email::before {
    content: attr(data-user);
}


@media(max-width:767px){
	.top_panel_top{font-size: 12px;}
	.top_panel_top > span{display: block; margin:0; width: 100%;}
	.responsive_menu .top_panel_middle .menu_main_responsive_button{left:0 !important; right:0 !important; margin:0 auto !important; float: none !important; text-align: center;}
	.top_panel_wrap ul{margin-top: 20px;}

	.slider_topo{padding:30px 0;}
	.slider_topo .left_slider_top{float: none; width: 100%;}
	.slider_topo .left_slider_top > h1{font-size: 25px;}
	.slider_topo .left_slider_top > p{font-size: 15px; margin-bottom: 30px; line-height: 20px;}
	.slider_topo .left_slider_top > a{font-size: 16px; padding: 8px 15px;}
	.slider_topo .right_slider_top{float: none; width: 100%; margin: 90px 0 30px 0;}
	.slider_topo .right_slider_top .ratiovideo{padding-bottom:56.25%; position: relative; float: left; width: 100%; height: 0;}
	.slider_topo .right_slider_top .mediaratio{position: absolute; left:0; top:0; width: 100%; height: 100%;}

	.width_95_per{width: 100%;}

	.sc_services_image{display: none;}

	.tipos_otimizacao_center_home{padding:40px 0;}
	.tipos_otimizacao_center_home h3{padding:0; font-size: 18px;}
	.tipos_otimizacao_center_home p{line-height: 18px;}
	.left_otimizacao{float: none; width: 100%; display: block;}
	.right_otimizacao{float: none; width: 100%; display: block; margin-top: 40px;}

	.depoimentos_center_home{padding:40px 0 60px 0;}
	.list_depoiments{margin-top: 20px;}
	.list_depoiments .rep_depoiments{width:100%; margin: 0 0 60px 0;}
	
	.duvidas_center_home{padding:40px 0;}
    .bar_duvidas > span{font-size:15px; margin:0 0 0 0; display: block; line-height: 20px;}
    .bar_duvidas > a{font-size:15px; padding:10px; border-radius: 10px; margin:15px 0 0 0; display: inline-block;}

	.listequipe{font-size: 14px; line-height: 30px; color:#585858;}
    .listequipe img{float: none; margin:0 0 15px 0; max-width: 100%; margin-top: 5px;}

	.form_agencias label.two_inputs{padding:0; width: 100%;}
	.form_agencias label.one_inputs{padding:0; width: 100%;}
	.form_agencias .return_form{padding:0;}
	.send_info_form{padding:0;}
}