<div class="wrapper">
    <div class="container">
        <!-- BEGIN DETALHES -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Detalhes da compra</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card-box">                    
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-left">
                                    <address>
                                        <strong>{NomeComprador}</strong><br>
                                        <a href="https://api.whatsapp.com/send?phone=55{CelularLink}" target="_blank" style="color:#09f; font-size: 1rem;">{CelularComprador}</a><br>
                                        {EmailComprador}<br>
                                    </address>
                                    <p style="font-size: 15px;"><strong>CPF / CNPJ:</strong> {CpfCnpjComprador}</p>
                                    <p style="font-size: 15px;"><strong>Endereço:</strong> {EnderecoComprador}</p>
                                    <p style="font-size: 15px;"><strong>Origem:</strong> {OrigemComprador}</p>
                                    {Comprovante}
                                    <p style="font-size: 15px;"><strong>Segmentação:</strong> {DataPreenchimento}</p>
                                </div>

                                <div class="pull-right">
                                    <p><strong>Status compra: </strong> <span class="label {BgStatus}" title="{DescStatus}">{TitleStatus}</span></p>
                                    <p><strong>Compra ID: </strong> #{IdCompra} &nbsp;<span class="label {BgStatusAss}" title="{DescStatusAss}">{TitleStatusAss}</span></p>
                                    <p><strong>Automação: </strong> <span class="label {BgStatusAut}" title="{DescStatusAut}">{TitleStatusAut}</span></p>
                                    <p><strong>Data compra: </strong> {DataCompra}</p>
                                    <p><strong>Método de pagamento: </strong> {MetodoCompra}</p>
                                    <p><strong>Plano: </strong> {PlanoCompra}</p>
                                    <p><strong>Renovação: </strong> {RenovacaoCompra}</p>
                                    {Revendedor}
                                    <p><strong>Briefing: </strong> <a href="{URL_BASE}/checkout/completar_cadastro/{CodAssinatura}" target="_blank" style="color:#09f;">URL do cliente</a></p>
                                </div>
                            </div>
                        </div>

                        <!-- BEGIN DMSTRANSACOES -->
                            <div class="row m-t-20">
                                <div class="col-lg-12">
                                    <h4 class="font-18"><b>Renovações:</b></h4>
                                
                                    <div class="table-responsive">
                                        <table class="table table-actions-bar">
                                            <thead>
                                                <tr>
                                                    <th style="width: 10%;">ID</th>
                                                    <th style="width: 40%;">Data</th>
                                                    <th style="width: 40%;">Valor</th>
                                                    <th style="width: 10%;">Status</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <!-- BEGIN FOREACH_DMSCOMPRAS -->
                                                    <tr>
                                                        <td><strong>{IdCompraDms}</strong></td>
                                                        <td>{DataCompraDms}</td>
                                                        <td>R${ValorCompraDms}</td>
                                                        <td><span class="label {BgStatusDms}" title="{DescStatusDms}">{TitleStatusDms}</span></td>
                                                    </tr>
                                                <!-- END FOREACH_DMSCOMPRAS -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        <!-- END DMSTRANSACOES -->

                        <!-- BEGIN RESTRITO_ADMINISTRACAO -->
                            <!-- BEGIN SEGMENTACAO -->
                                <div class="row m-t-20">
                                    <div class="col-md-12">
                                        <h4 class="font-18"><b>SEGMENTAÇÃO</b></h4>
                                        <div class="rep_itens_briefing col-md-12">
                                            <strong>Área Atuação:</strong>
                                            <span>{Area_Atuacao}</span>
                                        </div>

                                        <div class="rep_itens_briefing col-md-12">
                                            <strong>Palavras-chave:</strong>
                                            <span>{Keywords}</span>
                                        </div>

                                        <div class="rep_itens_briefing col-md-12">
                                            <strong>Login Conta Google:</strong>
                                            <span>{Google_Login}</span>
                                        </div>

                                        <div class="rep_itens_briefing col-md-12">
                                            <strong>Senha Conta Google:</strong>
                                            <span>{Google_Senha}</span>
                                        </div>

                                        <!-- BEGIN SEGMENTACAO_SEO -->
                                            <h4 class="font-18"><b>INFORMAÇÕES - OTIMIZAR SEO:</b></h4>
                                            <div class="rep_itens_briefing col-md-12">
                                                <strong>Título Site:</strong>
                                                <span><a href="{Site_URL}" target="_blank" style="color:#09f;">{Site_Titulo}</a></span>
                                            </div>

                                            <div class="rep_itens_briefing col-md-12">
                                                <strong>FTP Host:</strong>
                                                <span>{FTP_Host}</span>
                                            </div>

                                            <div class="rep_itens_briefing col-md-12">
                                                <strong>FTP Login:</strong>
                                                <span>{FTP_Login}</span>
                                            </div>

                                            <div class="rep_itens_briefing col-md-12">
                                                <strong>FTP Senha:</strong>
                                                <span>{FTP_Senha}</span>
                                            </div>

                                            <div class="rep_itens_briefing col-md-12">
                                                <strong>Login Plataforma própria:</strong>
                                                <span>{Plataforma_Login}</span>
                                            </div>

                                            <div class="rep_itens_briefing col-md-12">
                                                <strong>Senha Plataforma própria:</strong>
                                                <span>{Plataforma_Senha}</span>
                                            </div>
                                        <!-- END SEGMENTACAO_SEO -->

                                        <!-- BEGIN SEGMENTACAO_ADWORDS -->
                                            <h4 class="font-18"><b>INFORMAÇÕES - OTIMIZAR ADWORDS:</b></h4>
                                            <div class="rep_itens_briefing col-md-12">
                                                <strong>Possui alguma forma de veiculação online/offline? Folheto, Anúncios em algum outro site, classificado, etc.</strong>
                                                <span>{Veiculacao}</span>
                                            </div>

                                            <div class="rep_itens_briefing col-md-12">
                                                <strong>Tem alguma frase de destaque/mote ou comunicação que já utilize para termos de referência na abordagem?</strong>
                                                <span>{Destaque}</span>
                                            </div>

                                            <div class="rep_itens_briefing col-md-12">
                                                <strong>Qual valor investido mensalmente em AdWords?</strong>
                                                <span>{Valor_Investido}</span>
                                            </div>

                                            <div class="rep_itens_briefing col-md-12">
                                                <strong>Qual site a ser anunciado?</strong>
                                                <span><a href="{Site_URL}" target="_blank" style="color:#09f;">{Site_Anunciado}</a></span>
                                            </div>

                                            <div class="rep_itens_briefing col-md-12">
                                                <strong>Qual perfil do público-alvo/consumidor?</strong>
                                                <span>{Publico_Alvo}</span>
                                            </div>

                                            <div class="rep_itens_briefing col-md-12">
                                                <strong>Onde deseja atingir clientes em potencial?</strong>
                                                <span>{Clientes_Potencial}</span>
                                            </div>

                                            <div class="rep_itens_briefing col-md-12">
                                                <strong>Qual produto ou serviço deseja destacar inicialmente?</strong>
                                                <span>{Destaque_Inicial}</span>
                                            </div>

                                            <div class="rep_itens_briefing col-md-12">
                                                <strong>Já tem um orçamento base para investimento mensal em Google AdWords? Qual?</strong>
                                                <span>{Orcamento}</span>
                                            </div>
                                        <!-- END SEGMENTACAO_ADWORDS -->

                                        <div class="rep_itens_briefing col-md-12">
                                            <strong>Data do preenchimento:</strong>
                                            <span>{DataPreenchimento}</span>
                                        </div>
                                    </div>
                                </div>
                            <!-- END SEGMENTACAO -->

                            <!-- BEGIN SEO -->
                            <div class="row m-t-40">
                                <div class="col-md-12">
                                    <h4 class="font-18"><b>Etapa do SEO:</b></h4>
                                    <form action="{URL_ADMIN}/controller/post.php" method="post" id="two_forms_page" class="form_observacoes">
                                        <div class="form-group">
                                            <select name="seo" required="required" class="form-control" id="seo">
                                                <option value="" selected="selected" disabled>Selecione</option>
                                                <!-- BEGIN FOREACH_SEO -->
                                                    <option value="{seoValor}" {seoDisable}>{seoValor} - {seoNome}</option>
                                                <!-- END FOREACH_SEO -->
                                            </select>
                                        </div>

                                        <input type="hidden" name="IdCompra" id="IdCompra" value="{IdCompra}" />
                                        <input type="hidden" name="tpf" id="tpf" value="{tpf_form_seo}" />

                                        <div class="return_form"></div>

                                        <div class="form-group text-right">
                                            <button class="btn btn-primary waves-effect waves-light" type="submit" name="bot_send">ENVIAR</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- END SEO -->
                            <!-- BEGIN ADWORDS -->
                            <div class="row m-t-40">
                                <div class="col-md-12">
                                    <h4 class="font-18"><b>Etapa do Adwords:</b></h4>
                                    <form action="{URL_ADMIN}/controller/post.php" method="post" id="two_forms_page" class="form_observacoes">
                                        <div class="form-group">
                                            <select name="adword" required="required" class="form-control" id="adword">
                                                <option value="" selected="selected" disabled>Selecione</option>
                                                <!-- BEGIN FOREACH_ADWORDS -->
                                                    <option value="{adValor}" {adDisable}>{adValor} - {adNome}</option>
                                                <!-- END FOREACH_ADWORDS -->
                                            </select>
                                        </div>

                                        <input type="hidden" name="IdCompra" id="IdCompra" value="{IdCompra}" />
                                        <input type="hidden" name="tpf" id="tpf" value="{tpf_form_adword}" />

                                        <div class="return_form"></div>

                                        <div class="form-group text-right">
                                            <button class="btn btn-primary waves-effect waves-light" type="submit" name="bot_send">ENVIAR</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- END ADWORDS -->

                            <div class="row m-t-40">
                                <div class="col-md-12">
                                    <h4 class="font-18"><b>Quem foi o revendedor:</b></h4>
                                    <form action="{URL_ADMIN}/controller/post.php" method="post" id="two_forms_page" class="form_observacoes">
                                        <div class="form-group">
                                            <select name="revendedor" required="required" class="form-control" id="revendedor">
                                                <option value="" selected="selected">Selecione</option>
                                                <!-- BEGIN FOREACH_REVENDEDORES -->
                                                    <option value="{IdRevendedor}">{NomeRevendedor}</option>
                                                <!-- END FOREACH_REVENDEDORES -->
                                            </select>
                                        </div>

                                        <input type="hidden" name="IdCompra" id="IdCompra" value="{IdCompra}" />
                                        <input type="hidden" name="tpf" id="tpf" value="{tpf_form_revendedores}" />

                                        <div class="return_form"></div>

                                        <div class="form-group text-right">
                                            <button class="btn btn-primary waves-effect waves-light" type="submit" name="bot_send">SALVAR</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            
                                <div class="row m-t-40">
                                    <div class="col-md-12">
                                        <h4 class="font-18"><b>Renovação ?</b></h4>
                                        <form action="{URL_ADMIN}/controller/post.php" method="post" id="two_forms_page" class="form_observacoes">
                                            <div class="form-group">
                                                <select name="renovacao" required="required" class="form-control" id="renovacao">
                                                    <option value="1" {RenovacaoSelectNao}>NÃO</option>
                                                    <option value="2" {RenovacaoSelectSim}>SIM</option>
                                                </select>
                                            </div>

                                            <input type="hidden" name="IdCompra" id="IdCompra" value="{IdCompra}" />
                                            <input type="hidden" name="tpf" id="tpf" value="{tpf_form_renovacao}" />

                                            <div class="return_form"></div>

                                            <div class="form-group text-right">
                                                <button class="btn btn-primary waves-effect waves-light" type="submit" name="bot_send">SALVAR</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                
                                <!-- BEGIN DIAS_ADICIONADOS -->
                                <div class="row m-t-40">
                                    <div class="col-md-12">
                                        <h4 class="font-18"><b>Dia adicionado?</b></h4>
                                        <form action="{URL_ADMIN}/controller/post.php" method="post" id="two_forms_page" class="form_observacoes">
                                            <div class="form-group">
                                                <select name="dias_adicionados" required="required" class="form-control" id="dias_adicionados">
                                                    <option value="1" {DiasSelectNao}>NÃO</option>
                                                    <option value="2" {DiasSelectSim}>SIM</option>
                                                </select>
                                            </div>

                                            <input type="hidden" name="IdCompra" id="IdCompra" value="{IdCompra}" />
                                            <input type="hidden" name="tpf" id="tpf" value="{tpf_form_dias}" />

                                            <div class="return_form"></div>

                                            <div class="form-group text-right">
                                                <button class="btn btn-primary waves-effect waves-light" type="submit" name="bot_send">SALVAR</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- END DIAS_ADICIONADOS -->
                        <!-- END RESTRITO_ADMINISTRACAO -->

                        <div class="row m-t-40">
                            <div class="col-md-12">
                                <h4 class="font-18"><b>Observações:</b></h4>
                                <!-- BEGIN OBSERVACOES_COMPRA -->
                                    <!-- BEGIN FOREACH_OBSERVACOES -->
                                        <div class="list_observacoes col-md-12">{ObservacaoRealizada} - <strong style="font-weight: 600;">{ObsPorQuemData}</strong></div>
                                    <!-- END FOREACH_OBSERVACOES -->
                                <!-- END OBSERVACOES_COMPRA -->

                                <form action="{URL_ADMIN}/controller/post.php" method="post" id="there_forms_page" class="form_observacoes">
                                    <div class="form-group">
                                        <textarea name="observacao" id="observacao" class="form-control" placeholder="Preencha um comentário"></textarea>
                                    </div>

                                    <input type="hidden" name="IdCompra" id="IdCompra" value="{IdCompra}" />
                                    <input type="hidden" name="tpf" id="tpf" value="{tpf_form_observacoes}" />

                                    <div class="return_form"></div>

                                    <div class="form-group text-right">
                                        <button class="btn btn-primary waves-effect waves-light" type="submit" name="bot_send">SALVAR</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row m-t-20">
                            <div class="col-md-3 offset-md-9">
                                <h3 class="text-right">Total: R${ValorCompra}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- END DETALHES -->


        <!-- BEGIN INSERIR_COMPRA -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Compras</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card-box">
                        <h4 class="header-title m-t-0">Inserir manualmente</h4>

                        <form class="form_insert_edit_margin" action="{URL_ADMIN}/controller/post.php" method="post" id="form_send_upload" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="nome_completo">NOME COMPLETO / NOME FANTASIA: <span class="text-danger">*</span></label>
                                <input type="text" name="nome_completo" id="nome_completo" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="cpf">CPF / CNPJ: </label>
                                <input type="text" name="cpf_cnpj" class="form-control" onKeyUp="javascript:somente_numero(this);" maxlength="14" />
                            </div>

                            <div class="form-group">
                                <label for="celular">CELULAR / WHATSAPP: <span class="text-danger">*</span></label>
                                <input type="text" name="celular" id="celular" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="email">E-MAIL: <span class="text-danger">*</span></label>
                                <input type="text" autocomplete="off" name="email" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="Confemail">CONFIRMAÇÃO DE E-MAIL: <span class="text-danger">*</span></label>
                                <input type="text" autocomplete="off" name="Confemail" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="cep">CEP: </label>
                                <input type="text" name="cep" id="cep" class="form-control" maxlength="9" onBlur="getEndereco()" />
                            </div>

                            <div class="form-group">
                                <label for="endereco">ENDEREÇO: </label>
                                <input type="text" name="endereco" id="endereco" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="bairro">BAIRRO: </label>
                                <input type="text" name="bairro" id="bairro" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="numero">NÚMERO: <span class="text-danger">*</span></label>
                                <input type="text" name="numero" id="numero" class="form-control" onKeyUp="javascript:somente_numero(this);" maxlength="4" />
                            </div>

                            <div class="form-group">
                                <label for="cidade">CIDADE: <span class="text-danger">*</span></label>
                                <input type="text" name="cidade" id="cidade" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="estado">ESTADO: <span class="text-danger">*</span></label>
                                <input type="text" name="estado" id="estado" class="form-control" maxlength="2" />
                            </div>
                    
                            <!-- BEGIN VERIFICA_ORIGENS -->
                            <div class="form-group">
                                <label for="como_conheceu">COMO NOS CONHECEU: <span class="text-danger">*</span></label>
                                <select name="como_conheceu" id="como_conheceu" class="form-control">
                                    <!-- BEGIN FOREACH_ORIGENS -->
                                    <option value="{ident_origem}">{titulo_origem}</option>
                                    <!-- END FOREACH_ORIGENS -->
                                </select>
                            </div>
                            <!-- END VERIFICA_ORIGENS -->
                    
                            <!-- BEGIN VERIFICA_PLANOS -->
                            <div class="form-group">
                                <label for="plano">PLANO: <span class="text-danger">*</span></label>
                                <select name="plano" id="plano" class="form-control">
                                    <!-- BEGIN FOREACH_PLANOS -->
                                    <option value="{ident_plano}">{titulo_plano}</option>
                                    <!-- END FOREACH_PLANOS -->
                                </select>
                            </div>
                            <!-- END VERIFICA_PLANOS -->

                            <div class="form-group">
                                <label for="metodo">MÉTODO DE PAGAMENTO: <span class="text-danger">*</span></label>
                                <select name="metodo" id="metodo" class="form-control">
                                    <option value="bank_slip">Boleto bancário</option>
                                    <option value="credit_card">Cartão de crédito</option>
                                    <option value="deposit">Depósito</option>
                                    <option value="other_method" title="PagSeguro, GerenciaNet, etc...">Outro meio de pagamento</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="valor">VALOR DO PAGAMENTO: <span class="text-danger">*</span></label>
                                <input type="text" name="valor" id="valor" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="valor">CÓDIGO VENDEDOR:</label> 
                                <input type="text" name="cod_vendedor" id="cod_vendedor" class="form-control" /> 
                            </div> 
 
                            <div class="form-group">
                                <label for="comprovante">ARQUIVO DE COMPROVANTE (Formatos: <strong>.JPG, .PNG, .PDF</strong>):</label>
                                <input type="file" name="comprovante" id="comprovante" class="form-control" />
                            </div>

                            <input type="hidden" name="tpf" id="tpf" value="{tpf_form}" />

                            <div class="return_form"></div>

                            <div class="form-group text-right m-b-0">
                                <button class="btn btn-primary waves-effect waves-light" type="submit" name="send_info">SALVAR</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        <!-- END INSERIR_COMPRA -->
    </div>
</div>