<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Configurações do sistema</h4>
                </div>
            </div>
        </div>
        
        <!-- BEGIN BLOCK_CONFIGURACOES -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    <h4 class="header-title m-t-0">Alterar</h4>

                    <form class="form_insert_edit_margin" action="{URL_ADMIN}/controller/post.php" method="post" id="form_send">
                        <div class="form-group">
                            <label for="vendas">Whatsapp - Vendas: <span class="text-danger">*</span></label>
                            <input type="text" name="vendas" required="required" class="form-control" id="vendas" value="{vendas}" />
                        </div>

                        <div class="form-group">
                            <label for="suporte">Whatsapp - Suporte: <span class="text-danger">*</span></label>
                            <input type="text" name="suporte" required="required" class="form-control" id="suporte" value="{suporte}" />
                        </div>

                        <div class="form-group">
                            <label for="email_principal">E-mail principal: <span class="text-danger">*</span></label>
                            <input type="text" name="email_principal" required="required" class="form-control" id="email_principal" value="{email_principal}" />
                        </div>

                        <div class="form-group">
                            <label for="email_resposta">E-mail de resposta (Caso o cliente responda um e-mail que foi enviado automáticamente): <span class="text-danger">*</span></label>
                            <input type="text" name="email_resposta" required="required" class="form-control" id="email_resposta" value="{email_resposta}" />
                        </div>

                        <div class="form-group">
                            <label for="desconto_recorrencias">Desconto em todas as assinaturas: <span class="text-danger">*</span></label>
                            <select name="desconto_recorrencias" required="required" class="form-control" id="desconto_recorrencias">
                                <option value="1"{descrecorrenciaNao}>NÃO</option>
                                <option value="2"{descrecorrenciaSim}>SIM</option>
                            </select>
                        </div>

                        <input type="hidden" name="tpf" id="tpf" value="{tpf_form}" />

                        <div class="return_form"></div>

                        <div class="form-group text-right m-b-0">
                            <button class="btn btn-primary waves-effect waves-light" type="submit" name="send_edit">SALVAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- END BLOCK_CONFIGURACOES -->
    </div>
</div>