<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Dúvidas frequentes</h4>
                </div>
            </div>
        </div>
        
        <!-- BEGIN BLOCK_LISTAR -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    <h4 class="header-title m-t-0">Listar</h4>

                    <div class="col-lg-12" style="padding:0;">
                        <a href="{URL_ADMIN}/{page_atual_admin}/listar" class="btn btn-warning btn-rounded waves-effect waves-light">LISTAR</a>
                        <a href="{URL_ADMIN}/{page_atual_admin}/inserir" class="btn btn-primary btn-rounded waves-effect waves-light">INSERIR</a>
                    </div>

                    <div class="table-responsive list_itens">
                        <table class="table table-actions-bar">
                            <!-- BEGIN VERIFICA_LISTAGEM -->
                            <thead>
                                <tr>
                                    <th>Pergunta</th>
                                    <th style="min-width: 80px;">Ações</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <!-- BEGIN FOREACH -->
                                <tr>
                                    <td>{pergunta}</td>
                                    <td>
                                        <a href="{URL_ADMIN}/{page_atual_admin}/editar/{ident}" class="table-action-btn"><i class="md-edit"></i></a>
                                        <a href="{URL_ADMIN}/controller/post.php" id="{ident}" rel="{delType}" class="table-action-btn deleteitem" onClick="return confirm('Deseja deletar?');" style="cursor: pointer;"><i class="md md-close"></i></a>
                                    </td>
                                </tr>
                                <!-- END FOREACH -->
                            </tbody>
                            <!-- END VERIFICA_LISTAGEM -->
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- END BLOCK_LISTAR -->
        
        <!-- BEGIN BLOCK_INSERIR -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    <h4 class="header-title m-t-0">Inserir</h4>

                    <div class="col-lg-12" style="padding:0;">
                        <a href="{URL_ADMIN}/{page_atual_admin}/listar" class="btn btn-warning btn-rounded waves-effect waves-light">LISTAR</a>
                        <a href="{URL_ADMIN}/{page_atual_admin}/inserir" class="btn btn-primary btn-rounded waves-effect waves-light">INSERIR</a>
                    </div>

                    <form class="form_insert_edit_margin" action="{URL_ADMIN}/controller/post.php" method="post" id="form_send">
                        <div class="form-group">
                            <label for="pergunta">Pergunta: <span class="text-danger">*</span></label>
                            <input type="text" name="pergunta" class="form-control" id="pergunta" />
                        </div>

                        <div class="form-group">
                            <label for="resposta">Resposta: <span class="text-danger">*</span></label>
                            <textarea name="resposta" class="form-control" id="resposta"></textarea>
                        </div>

                        <input type="hidden" name="tpf" id="tpf" value="{tpf_form}" />

                        <div class="return_form"></div>

                        <div class="form-group text-right m-b-0">
                            <button class="btn btn-primary waves-effect waves-light" type="submit" name="send_info">SALVAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- END BLOCK_INSERIR -->
        
        <!-- BEGIN BLOCK_EDITAR -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    <h4 class="header-title m-t-0">Editar</h4>

                    <div class="col-lg-12" style="padding:0;">
                        <a href="{URL_ADMIN}/{page_atual_admin}/listar" class="btn btn-warning btn-rounded waves-effect waves-light">LISTAR</a>
                        <a href="{URL_ADMIN}/{page_atual_admin}/inserir" class="btn btn-primary btn-rounded waves-effect waves-light">INSERIR</a>
                    </div>

                    <form class="form_insert_edit_margin" action="{URL_ADMIN}/controller/post.php" method="post" id="form_send">
                        <div class="form-group">
                            <label for="pergunta">Pergunta: <span class="text-danger">*</span></label>
                            <input type="text" name="pergunta" required="required" class="form-control" id="pergunta" value="{pergunta}" />
                        </div>

                        <div class="form-group">
                            <label for="resposta">Resposta: <span class="text-danger">*</span></label>
                            <textarea name="resposta" class="form-control" id="resposta">{resposta}</textarea>
                        </div>

                        <input type="hidden" name="tpf" id="tpf" value="{tpf_form}" />
                        <input type="hidden" name="idfinfo" id="idfinfo" value="{idfinfo}" />

                        <div class="return_form"></div>

                        <div class="form-group text-right m-b-0">
                            <button class="btn btn-primary waves-effect waves-light" type="submit" name="send_edit">SALVAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- END BLOCK_EDITAR -->
    </div>
</div>