<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Página inicial</h4>
                </div>
            </div>
        </div>

        <!-- BEGIN ADMINISTRACAO -->
        <!-- <div class="row">
            <div class="col-lg-12 col-xl-3">
                <div class="card-box widget-box-1 bg-white">
                    <h4 class="text-dark font-16">Hoje</h4>
                    <h2 class="text-primary text-center">R${SomaHoje}</h2>
                </div>
            </div>

            <div class="col-lg-12 col-xl-3">
                <div class="card-box widget-box-1 bg-white">
                    <h4 class="text-dark font-16">Ontem</h4>
                    <h2 class="text-muted text-center">R${SomaOntem}</h2>
                </div>
            </div>

            <div class="col-lg-12 col-xl-3">
                <div class="card-box widget-box-1 bg-white">
                    <h4 class="text-dark font-16">Anteontem</h4>
                    <h2 class="text-pink text-center">R${SomaAntOntem}</h2>
                </div>
            </div>

            <div class="col-lg-12 col-xl-3">
                <div class="card-box widget-box-1 bg-white">
                    <h4 class="text-dark font-16">Ante-Ante-Ontem</h4>
                    <h2 class="text-info text-center">R${SomaAntAntOntem}</h2>
                </div>
            </div>

            <div class="col-lg-12 col-xl-3">
                <div class="card-box widget-box-1 bg-white">
                    <h4 class="text-dark font-16">Aguardando</h4>
                    <h2 class="text-warning text-center">R${SomaAguardando}</h2>
                </div>
            </div>

            <div class="col-lg-12 col-xl-3">
                <div class="card-box widget-box-1 bg-white">
                    <h4 class="text-dark font-16">Expirados</h4>
                    <h2 class="text-muted text-center">R${SomaExpirados}</h2>
                </div>
            </div>

            <div class="col-lg-12 col-xl-3">
                <div class="card-box widget-box-1 bg-white">
                    <h4 class="text-dark font-16">Pgtos. em Boleto</h4>
                    <h2 class="text-purple text-center">R${SomaBoleto}</h2>
                </div>
            </div>

            <div class="col-lg-12 col-xl-3">
                <div class="card-box widget-box-1 bg-white">
                    <h4 class="text-dark font-16">Pgtos. em Cartão</h4>
                    <h2 class="text-primary text-center">R${SomaCartao}</h2>
                </div>
            </div>

            <div class="col-lg-12 col-xl-3">
                <div class="card-box widget-box-1 bg-white">
                    <h4 class="text-dark font-16">Este mês</h4>
                    <h2 class="text-success text-center">R${SomaEsteMes}</h2>
                </div>
            </div>

            <div class="col-lg-12 col-xl-3">
                <div class="card-box widget-box-1 bg-white">
                    <h4 class="text-dark font-16">Mês passado</h4>
                    <h2 class="text-info text-center">R${SomaMesPassado}</h2>
                </div>
            </div>

            <div class="col-lg-12 col-xl-3">
                <div class="card-box widget-box-1 bg-white">
                    <h4 class="text-dark font-16">Recorde diário - {DataRecordeDiario}</h4>
                    <h2 class="text-inverse text-center">R${SomaRecordeDiario}</h2>
                </div>
            </div>

            <div class="col-lg-12 col-xl-3">
                <div class="card-box widget-box-1 bg-white">
                    <h4 class="text-dark font-16">Recorde mensal - {MesRecordeMensal}/{AnoRecordeMensal}</h4>
                    <h2 class="text-purple text-center">R${SomaRecordeMensal}</h2>
                </div>
            </div>
        </div> -->
        <!-- END ADMINISTRACAO -->
        
        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    <h4 class="header-title m-t-0">Transações / Assinaturas</h4>

                    <div class="col-lg-12" style="padding:5px 0 20px 0;">
                        <a href="{URL_ADMIN}/compras/inserir_compra_manual" class="btn btn-primary btn-rounded waves-effect waves-light">INSERIR COMPRA</a>
                    </div>

                    <div class="row m-t-10 m-b-10">
                        <div class="col-sm-12 col-lg-12">
                            <form action="" name="form_automacoes" id="form_automacoes" method="post">
                                <div class="form-group contact-search m-b-30">
                                    <input type="text" name="NomeCliente" class="form-control" placeholder="Digite o nome do cliente:">
                                    <button type="submit" class="btn btn-white"><i style="cursor:pointer;" class="fa fa-search"></i></button>
                                </div> <!-- form-group -->
                            </form>
                        </div>
                    </div>

                    <!-- BEGIN TRANSACOES -->
                    <div class="table-responsive">
                        <table class="table table-actions-bar">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Data</th>
                                    <th>Valor</th>
                                    <th>Status</th>
                                    <th style="min-width: 80px;">Ações</th>
                                </tr>
                            </thead>

                            <tbody>
                                <!-- BEGIN FOREACH -->
                                    <tr>
                                        <td><strong>{IdCompra}</strong></td>
                                        <td>{NomeComprador}</td>
                                        <td>{DataCompra}</td>
                                        <td>R${ValorCompra}</td>
                                        <td><span class="label {BgStatus}" title="{DescStatus}">{TitleStatus}</span></td>
                                        <td>
                                            <a href="{URL_ADMIN}/compras/detalhes/{IdCompra}" class="table-action-btn"><i class="md-remove-red-eye"></i></a>
                                            <!-- <a href="{URL_ADMIN}/compras/deletar/{IdCompra}" class="table-action-btn" onClick="return confirm('Deseja deletar essa compra?');"><i class="md md-close"></i></a> -->
                                        </td>
                                    </tr>
                                <!-- END FOREACH -->
                            </tbody>
                        </table>
                    </div>
                    <!-- END TRANSACOES -->
                </div>
            </div>
        </div>
    </div>
</div>