<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Relatórios - Clientes que não finalizaram</h4>
                </div>
            </div>
        </div>
        
        <!-- BEGIN NAO_FINALIZARAM -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    <h4 class="header-title m-t-0">Listar</h4>

                    <div class="table-responsive list_itens">
                        <table class="table table-actions-bar">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>E-mail</th>
                                    <th>Celular</th>
                                    <th>Cidade / UF</th>
                                    <th>Tentativa</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <!-- BEGIN FOREACH_NAOFINALIZARAM -->
                                <tr>
                                    <td>{nome}</td>
                                    <td>{email}</td>
                                    <td>{celular}</td>
                                    <td>{cidade_uf}</td>
                                    <td>{tentativa}</td>
                                </tr>
                                <!-- END FOREACH_NAOFINALIZARAM -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- END NAO_FINALIZARAM -->
    </div>
</div>