<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Planos mais vendidos</h4>
                </div>
            </div>
        </div>
        
        <!-- BEGIN TAXA_RENOVACAO -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    <h4 class="header-title m-t-0">Listar</h4>

                    <div class="row m-t-10 m-b-10">
                        <div class="col-lg-12 form_automacoes">
                            <form action="" name="form_automacoes" id="form_automacoes" method="post">
                                <input type="text" name="data_de" id="data_de" class="form-control" placeholder="Período DE:">
                                <input type="text" name="data_ate" id="data_ate" class="form-control" placeholder="Período ATÉ:">
                                <input type="submit" name="bot_serach_automacoes" class="bot_serach_automacoes" value="FILTRAR" />
                            </form>
                        </div>
                    </div>

                    <div class="row text-center" style="margin:0 0 20px 0;"><div class="col-lg-12 col-xl-12">{InformacoesFiltradas}</div></div>

                    <div class="row text-center">
                        <div class="col-lg-12 col-xl-3">
                            <div class="card-box widget-box-1 bg-white">
                                <h4 class="text-dark font-16">Mensal - <b style="font-size: 12px;">{NVendasMensal} vendas</b></h4>
                                <h2 class="text-primary">R${SomaMensal}</h2>
                            </div>
                        </div>

                        <div class="col-lg-12 col-xl-3">
                            <div class="card-box widget-box-1 bg-white">
                                <h4 class="text-dark font-16">Trimestral - <b style="font-size: 12px;">{NVendasTrimestral} vendas</b></h4>
                                <h2 class="text-muted">R${SomaTrimestral}</h2>
                            </div>
                        </div>

                        <div class="col-lg-12 col-xl-3">
                            <div class="card-box widget-box-1 bg-white">
                                <h4 class="text-dark font-16">Semestral - <b style="font-size: 12px;">{NVendasSemestral} vendas</b></h4>
                                <h2 class="text-pink">R${SomaSemestral}</h2>
                            </div>
                        </div>

                        <div class="col-lg-12 col-xl-3">
                            <div class="card-box widget-box-1 bg-white">
                                <h4 class="text-dark font-16">Anual - <b style="font-size: 12px;">{NVendasAnual} vendas</b></h4>
                                <h2 class="text-info">R${SomaAnual}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END TAXA_RENOVACAO -->
    </div>
</div>