<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Revendedores</h4>
                </div>
            </div>
        </div>
        
        <!-- BEGIN BLOCK_LISTAR -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    <h4 class="header-title m-t-0">Listar</h4>

                    <div class="col-lg-12" style="padding:0;">
                        <a href="{URL_ADMIN}/{page_atual_admin}/listar" class="btn btn-warning btn-rounded waves-effect waves-light">LISTAR</a>
                        <a href="{URL_ADMIN}/{page_atual_admin}/inserir" class="btn btn-primary btn-rounded waves-effect waves-light">INSERIR</a>
                    </div>

                    <div class="table-responsive list_itens">
                        <table class="table table-actions-bar">
                            <!-- BEGIN VERIFICA_LISTAGEM -->
                            <thead>
                                <tr>
                                    <th style="width: 5%;">ID</th>
                                    <th style="width: 80%;">Nome</th>
                                    <th style="width: 10%;">Status</th>
                                    <th style="width: 5%; min-width: 80px;">Ações</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <!-- BEGIN FOREACH -->
                                <tr>
                                    <td>{ident}</td>
                                    <td>{NomeRevendedor}</td>
                                    <th style="font-weight: normal;">{StatusRevendedor}</th>
                                    <td>
                                        <a href="{URL_ADMIN}/{page_atual_admin}/editar/{ident}" class="table-action-btn"><i class="md-edit"></i></a>
                                    </td>
                                </tr>
                                <!-- END FOREACH -->
                            </tbody>
                            <!-- END VERIFICA_LISTAGEM -->
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- END BLOCK_LISTAR -->
        
        <!-- BEGIN BLOCK_INSERIR -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    <h4 class="header-title m-t-0">Inserir</h4>

                    <div class="col-lg-12" style="padding:0;">
                        <a href="{URL_ADMIN}/{page_atual_admin}/listar" class="btn btn-warning btn-rounded waves-effect waves-light">LISTAR</a>
                        <a href="{URL_ADMIN}/{page_atual_admin}/inserir" class="btn btn-primary btn-rounded waves-effect waves-light">INSERIR</a>
                    </div>

                    <form class="form_insert_edit_margin" action="{URL_ADMIN}/controller/post.php" method="post" id="form_send">
                        <div class="form-group">
                            <label for="nome">Nome completo: <span class="text-danger">*</span></label>
                            <input type="text" name="nome" class="form-control" id="nome" />
                        </div>

                        <div class="form-group">
                            <label for="telefone">Telefone: <span class="text-danger">*</span></label>
                            <input type="text" name="telefone" class="form-control" id="celular" />
                        </div>

                        <div class="form-group">
                            <label for="cpf">CPF: <span class="text-danger">*</span></label>
                            <input type="text" name="cpf" class="form-control" id="cpf" />
                        </div>

                        <div class="form-group">
                            <label for="email">E-mail: <span class="text-danger">*</span></label>
                            <input type="text" name="email" class="form-control" id="email" />
                        </div>

                        <div class="form-group">
                            <label for="senha">Senha: <span class="text-danger">*</span></label>
                            <input type="password" name="senha" class="form-control" id="senha" />
                        </div>

                        <div class="form-group">
                            <label for="confirm_senha">Confirmar senha: <span class="text-danger">*</span></label>
                            <input type="password" name="confirm_senha" class="form-control" id="confirm_senha" />
                        </div>

                        <div class="form-group">
                            <label for="level">Nível do usuário: <span class="text-danger">*</span></label>
                            <select name="level" class="form-control" id="level">
                                <option value="1">Vendas</option>
                                <option value="2">Plantão</option>
                            </select>
                        </div>

                        <input type="hidden" name="tpf" id="tpf" value="{tpf_form}" />

                        <div class="return_form"></div>

                        <div class="form-group text-right m-b-0">
                            <button class="btn btn-primary waves-effect waves-light" type="submit" name="send_info">SALVAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- END BLOCK_INSERIR -->
        
        <!-- BEGIN BLOCK_EDITAR -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    <h4 class="header-title m-t-0">Editar</h4>

                    <div class="col-lg-12" style="padding:0;">
                        <a href="{URL_ADMIN}/{page_atual_admin}/listar" class="btn btn-warning btn-rounded waves-effect waves-light">LISTAR</a>
                        <a href="{URL_ADMIN}/{page_atual_admin}/inserir" class="btn btn-primary btn-rounded waves-effect waves-light">INSERIR</a>
                    </div>

                    <form class="form_insert_edit_margin" action="{URL_ADMIN}/controller/post.php" method="post" id="form_send">
                        <div class="col-lg-12" style="color:#444; font-size: 14px; padding:0; margin-bottom: 30px;">
                            <span style="display:block;">Link do revendedor:</span>
                            <span style="display:block;">{URL_BASE}/revendedor/{CodigoRevendedor}</span>
                        </div>

                        <div class="form-group">
                            <label for="nome">Nome completo: <span class="text-danger">*</span></label>
                            <input type="text" name="nome" class="form-control" id="nome" value="{nome}" />
                        </div>

                        <div class="form-group">
                            <label for="telefone">Telefone: <span class="text-danger">*</span></label>
                            <input type="text" name="telefone" class="form-control" id="celular" value="{telefone}" />
                        </div>

                        <div class="form-group">
                            <label for="cpf">CPF: <span class="text-danger">*</span></label>
                            <input type="text" name="cpf" class="form-control" id="cpf" value="{cpf}" />
                        </div>

                        <div class="form-group">
                            <label for="email">E-mail: <span class="text-danger">*</span></label>
                            <input type="text" name="email" class="form-control" id="email" value="{email}" />
                        </div>

                        <div class="form-group">
                            <label for="senha">Senha:</label>
                            <input type="password" name="senha" class="form-control" id="senha" />
                        </div>

                        <div class="form-group">
                            <label for="confirm_senha">Confirmar senha:</label>
                            <input type="password" name="confirm_senha" class="form-control" id="confirm_senha" />
                        </div>

                        <div class="form-group">
                            <label for="status">Status do revendedor (caso esteja inativo as compras não serão relacionadas): <span class="text-danger">*</span></label>
                            <select name="status" class="form-control" id="status">
                                <option value="2" {RevenAtivo}>Ativo</option>
                                <option value="1" {RevenInativo}>Inativo</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="level">Nível do revendedor: <span class="text-danger">*</span></label>
                            <select name="level" class="form-control" id="level">
                                <option value="1" {LevelVendas}>Vendas</option>
                                <option value="2" {LevelPlantao}>Plantão</option>
                            </select>
                        </div>

                        <input type="hidden" name="tpf" id="tpf" value="{tpf_form}" />
                        <input type="hidden" name="idfinfo" id="idfinfo" value="{idfinfo}" />

                        <div class="return_form"></div>

                        <div class="form-group text-right m-b-0">
                            <button class="btn btn-primary waves-effect waves-light" type="submit" name="send_edit">SALVAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- END BLOCK_EDITAR -->
    </div>
</div>