<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Taxa de renovações</h4>
                </div>
            </div>
        </div>
        
        <!-- BEGIN TAXA_RENOVACAO -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    <h4 class="header-title m-t-0">Listar</h4>

                    <div class="row m-t-10 m-b-10">
                        <div class="col-lg-12 form_automacoes">
                            <form action="" name="form_automacoes" id="form_automacoes" method="post">
                                <input type="text" name="data_de" id="data_de" class="form-control" placeholder="Período DE:">
                                <input type="text" name="data_ate" id="data_ate" class="form-control" placeholder="Período ATÉ:">
                                <select name="plano" class="form-control">
                                    <option value="mensal_plan" selected="selected">Plano Mensal</option>
                                    <option value="trimestral_plan">Plano Trimestral</option>
                                    <option value="semestral_plan">Plano Semestral</option>
                                    <option value="anual_plan">Plano Anual</option>
                                </select>
                                <input type="submit" name="bot_serach_automacoes" class="bot_serach_automacoes" value="FILTRAR" />
                            </form>
                        </div>
                    </div>

                    <div class="row text-center" style="margin:0 0 20px 0;"><div class="col-lg-12 col-xl-12">{InformacoesFiltradas}</div></div>

                    <div class="row text-center">
                        <div class="col-lg-12 col-xl-3">
                            <div class="card-box widget-box-1 bg-white">
                                <h4 class="text-dark font-16">Vendas no período</h4>
                                <h2 class="text-primary">{SomaVendasPeriodo}</h2>
                                <strong style="font-weight: 600;">R${ValorVendasPeriodo}</strong>
                            </div>
                        </div>

                        <div class="col-lg-12 col-xl-3">
                            <div class="card-box widget-box-1 bg-white">
                                <h4 class="text-dark font-16">Renovações no período</h4>
                                <h2 class="text-muted">{SomaRenovacoesPeriodo}</h2>
                                <strong style="font-weight: 600;">R${ValorRenovacoesPeriodo}</strong>
                            </div>
                        </div>

                        <div class="col-lg-12 col-xl-3">
                            <div class="card-box widget-box-1 bg-white">
                                <h4 class="text-dark font-16">Vendas em: <strong>{NomeMesAnterior}</strong></h4>
                                <h2 class="text-pink">{SomaVendasMesAnterior}</h2>
                                <strong style="font-weight: 600;">R${ValorVendasMesAnterior}</strong>
                            </div>
                        </div>

                        <div class="col-lg-12 col-xl-3">
                            <div class="card-box widget-box-1 bg-white">
                                <h4 class="text-dark font-16">Taxa de renovação</h4>
                                <h2 class="text-info">{SomaTaxaRenovacao}%</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END TAXA_RENOVACAO -->
    </div>
</div>