<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">{title_pag}</h4>
                </div>
            </div>
        </div>
        
        <!-- BEGIN BLOCK_TEXTOS -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    <h4 class="header-title m-t-0">Alterar Descrição</h4>

                    <form class="form_insert_edit_margin" action="{URL_ADMIN}/controller/post.php" method="post" id="form_send">
                        <div class="form-group">
                            <textarea name="descricao" id="descCK" required="required" class="form-control ckeditor" id="descricao">{descricao_textarea}</textarea>
                        </div>

                        <input type="hidden" name="tpf" id="tpf" value="{tpf_form}" />
                        <input type="hidden" name="pag_form" id="pag_form" value="{pag_form}" />

                        <div class="return_form"></div>

                        <div class="form-group text-right m-b-0">
                            <button class="btn btn-primary waves-effect waves-light" type="submit" name="send_edit">SALVAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- END BLOCK_TEXTOS -->
    </div>
</div>