body{font-family: 'Roboto', sans-serif; font-weight: 400; position: relative; background: url('../imagens/bg.png') center center no-repeat; background-attachment: fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
body strong{font-weight: 900;}
body img{max-width: 100%;}

.header{background: url('../imagens/bg_header.png') center top no-repeat; padding:50px 0;}
.logo_header{padding:0;}
.title_plan_val{text-align: right; color:#fff;}
.title_plan_val > span{display: block; font-size: 17px; font-weight: 300;}
.title_plan_val > strong{display: block; font-size: 20px; font-weight: 700; margin-top: 2px;}

.contenthome{padding: 50px 0 100px 0;}
.ambiente_seguro{padding:0px; text-align: center;}
.ambiente_seguro span{display: inline-block; font-weight: 700; color: #ac8300; background: url('../imagens/icon_loker.png') left top no-repeat; padding:0 0 0 35px; font-size: 20px; line-height:30px;}
.ambiente_seguro p{display: block; color: #666; font-size: 16px; line-height:25px; margin-top: 30px; padding:0 100px;}

.camps_info_buy{margin-top: 50px;}
.camps_info_buy .title_camps{font-size:17px; color:#666; font-weight: 700; padding:0 10px; margin: 30px 0 10px 0;}
.camps_info_buy label{padding:0 10px; margin-bottom: 15px;}
.camps_info_buy label > span{font-size: 14px; color:#666; margin-bottom: 3px; display: block; font-weight: 300;}
.camps_info_buy label > input, .camps_info_buy label > select, .camps_info_buy label > textarea{padding:7px; color:#666; border:1px solid #ddd; font-size: 14px;}
.camps_info_buy label > textarea{height: 150px;}
.camps_info_buy label > select{padding:6px 7px;}
.termos_accpet{text-align: right; margin-bottom: 15px;}
.termos_accpet > span{font-weight: 300; float: right; margin-top: 1px; cursor:pointer;}
.termos_accpet > span > a{color:#09f; font-weight: 700;}
.termos_accpet > input{font-weight: 300; float: right; margin-right: 5px;}
.generos_cad > label{float: left; margin-right: 30px; padding:0;}
.generos_cad > label > input{float: left; width: 13px;}
.generos_cad > label > span{float: left; margin:2px 0 0 5px; width: 100px;}
.camps_info_buy .return_form{font-size:14px; padding:0 10px; margin-bottom: 15px;}
.camps_info_buy .return_form > strong{font-weight: 700;}
.send_info_form{padding:0 10px;}
.send_info_form > input{background: #208800; border: none; color:#fff; padding:15px 30px; font-size: 18px; text-decoration: none; float:right;}
.send_info_form > input:hover{background: #2e7718;}

.select_form_payment{margin-top: 50px;}
.select_form_payment h2{font-size: 20px; font-weight: 700; text-align: center; color:#666;}
.select_form_payment .tabss{background: #f2f2f2; border-bottom: 5px solid #ccc; cursor: pointer; font-size: 14px; padding: 15px 15px 10px 15px; color:#333; margin-top: 20px;}
.select_form_payment .ativa{border-color: #0072bc; color: #0072bc;}
.select_form_payment .tabss:hover{border-color: #0072bc; color: #0072bc;}
.select_form_payment .return_form{font-size:14px;}
.select_form_payment .return_form > strong{font-weight: 700;}
.tab_boleto_show{display: none; padding:0 10px;}
.tab_cartao_show{padding:0;}
.tab_cartao_show, .tab_boleto_show{margin-top: 20px;}
.tab_cartao_show label{margin-bottom: 20px; padding:0 10px;}
.tab_cartao_show .itens_dup{padding:0;}
.tab_cartao_show .itens_dup span{display: block; font-size: 15px; color:#666; margin-bottom: 3px; padding:0 0 0 15px;}
.tab_cartao_show label > span{font-size: 15px; color:#666; margin-bottom: 3px; display: block; font-weight: 300; padding:0;}
.tab_cartao_show label > input, .tab_cartao_show label > select{padding:8px; color:#666; border:1px solid #ddd;}
.tab_cartao_show label > select{padding:7px 8px;}
.tab_cartao_show select{padding:7px 8px; color:#666; border:1px solid #ddd;}
.tab_cartao_show .return_form{font-size: 14px; margin-bottom:20px; padding:0 10px;}
.tab_boleto_show h3{font-size: 17px; color:#666; font-weight: 500; margin-bottom: 20px; display: block;}
.tab_boleto_show p{display: block; font-size: 16px; line-height: 25px; color:#666; margin-bottom: 20px;}
.tab_boleto_show .return_form{font-size: 14px; margin-bottom:20px; padding:0;}
.send_info_form_payment{padding:0 10px;}
.send_info_form_payment > input{background: #208800; border: none; color:#fff; padding:15px 30px; font-size: 18px; text-decoration: none; float:right;}
.send_info_form_payment > input:hover{background: #2e7718;}
.tab_boleto_show .send_info_form_payment{padding:0;}

.pagamento_realizado{text-align: center;}
.pagamento_realizado > span{display: block; font-size: 20px; font-weight: 700; color:#39c518; margin:30px 0;}
.pagamento_realizado > p{display: block; font-size: 17px; line-height: 25px; color:#666; padding:0 150px;}
.pagamento_realizado > p > strong{font-weight: 700;}

@media(max-width:767px){
	.header{padding: 30px 0;}
	.logo_header{text-align: center;}
	.title_plan_val{text-align: center; margin-top: 20px;}
	.title_plan_val > span{font-size: 16px;}
	.title_plan_val > strong{font-size: 18px;}

	.ambiente_seguro p{padding:0 15px; font-size: 14px;}
	.camps_info_buy .title_camps{padding:0;}
	.camps_info_buy label{padding:0;}

	.camps_info_buy .return_form{font-size:13px; padding:0;}

	.send_info_form{padding:0;}
	.send_info_form > input{padding:10px 15px; font-size: 15px;}
}

@media (max-width:479px){
	
}