/* MARGINS */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, 
address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,
b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, 
tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, 
output, ruby, section, summary,time, mark, audio, video {
	margin: 0;	padding: 0;	border: 0;	font-size: 100%; font: inherit;	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {list-style: none;}
blockquote, q{quotes: none;}

/* ALIGN */
.al-left{text-align: left !important;}
.al-right{text-align: right !important;}
.al-center{text-align: center !important;}
.left{float: left !important;}
.right{float: right !important;}
.flonone{float: none !important;}
.none{display: none !important;}
.pointer{cursor: pointer;}
.sml{margin-left: 0px !important;}
.smr{margin-right: 0px !important;}
.smb{margin-bottom: 0px !important;}
.smt{margin-top: 0px !important;}
.spl{padding-left: 0px !important;}
.spr{padding-right: 0px !important;}
.spb{padding-bottom: 0px !important;}
.spt{padding-top: 0px !important;}
.sem_borda{border:0 !important;}
.clear{clear: both;}

/* OTHERS */
.radius5{-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.radius10{-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.round{-webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;}

.error_form{background: #f9e5e6; border: 1px solid #fad2d3; padding: 7px; font-size:14px; color:#a94442;}
.success_form{background: #dff0d8; border: #d6e9c6 1px solid; color: #3c763d; padding: 7px; font-size:14px;}
.return_form{display: none; padding:0 15px; width: 100%; float: left;}
.return_form img{float: right;}