<!-- BEGIN COMPLETAR_CADASTRO_SEO -->
<div class="ambiente_seguro col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <span>AMBIENTE 100% SEGURO</span>
    <p>Preencha os campos abaixo para darmos início à automação do seu perfil. Caso tenha alguma dúvida, entre em contato com a nossa equipe de Suporte.</p>
</div>

<form action="{URL_CHECKOUT}/controller/post.php" method="post" name="form_informacoes" id="form_informacoes" class="camps_info_buy col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="title_camps smt col-lg-12 col-md-12 col-sm-12 col-xs-12">INFORMAÇÕES DO SITE</div>
    <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <span>TÍTULO (AQUELE QUE APARECE NAS BUSCAS DO GOOGLE):</span>
        <input type="text" name="seo_site_titulo" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <span>URL DO SITE:</span>
        <input type="text" name="site_url" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <div class="title_camps col-lg-12 col-md-12 col-sm-12 col-xs-12">INFORMAÇÕES DE SEGMENTAÇÃO</div>
    
    <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span>DESCREVA EM POUCAS LINHAS SUA ÁREA DE ATUAÇÃO:</span>
        <textarea name="site_atuacaoarea" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12"></textarea>
    </label>
    
    <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span>INSIRA DE 10 A 15 PALAVRAS-CHAVE SOBRE O SEU NEGÓCIO (SEPARADAS POR VÍRGULA):</span>
        <input type="text" name="site_keywords" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <div class="title_camps col-lg-12 col-md-12 col-sm-12 col-xs-12">DADOS DE ACESSO DO FTP</div>
    
    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <span>HOST:</span>
        <input type="text" name="seo_ftp_host" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <span>LOGIN:</span>
        <input type="text" name="seo_ftp_login" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <span>SENHA:</span>
        <input type="password" name="seo_ftp_password" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <div class="title_camps col-lg-12 col-md-12 col-sm-12 col-xs-12">DADOS DE ACESSO DE PLATAFORMA PRÓPRIA (WIX, WORDPRESS, ETC...)</div>
    
    <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <span>LOGIN:</span>
        <input type="text" name="seo_plat_login" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <span>SENHA:</span>
        <input type="password" name="seo_plat_password" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <div class="title_camps col-lg-12 col-md-12 col-sm-12 col-xs-12">DADOS GOOGLE (CONTA GMAIL)</div>
    
    <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <span>LOGIN:</span>
        <input type="text" name="google_login" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <span>SENHA:</span>
        <input type="password" name="google_password" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <input type="hidden" name="type_action" id="type_action" value="{type_action}"/>
    <input type="hidden" name="identification_compra" id="identification_compra" value="{IdentUrl}"/>
    
    <div class="return_form"></div>
    
    <div class="send_info_form col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <input type="submit" name="send_informations" id="send_information" class="radius5" value="ENVIAR INFORMAÇÕES" />
    </div>
</form>
<!-- END COMPLETAR_CADASTRO_SEO -->