<!-- BEGIN COMPLETAR_CADASTRO_ADWORDS -->
<div class="ambiente_seguro col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <span>AMBIENTE 100% SEGURO</span>
    <p>Preencha os campos abaixo para darmos início à automação do seu perfil. Caso tenha alguma dúvida, entre em contato com a nossa equipe de Suporte.</p>
</div>

<form action="{URL_CHECKOUT}/controller/post.php" method="post" name="form_informacoes" id="form_informacoes" class="camps_info_buy col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="title_camps smt col-lg-12 col-md-12 col-sm-12 col-xs-12">INFORMAÇÕES DO SITE - ADWORDS</div>
    
    <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span>QUAL SITE A SER ANUNCIADO?</span>
        <input type="text" name="site_url" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span>QUAL ÁREA DE ATUAÇÃO DE SUA EMPRESA?</span>
        <textarea name="site_atuacaoarea" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12"></textarea>
    </label>
    
    <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span>QUAIS SÃO SUAS PALAVRAS-CHAVE MAIS PROCURADAS E UTILIZADAS NO SITE?</span>
        <input type="text" name="site_keywords" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <div class="title_camps col-lg-12 col-md-12 col-sm-12 col-xs-12">QUAL CONTA GMAIL DESEJA UTILIZAR PARA ADMINISTRAR O ADWORDS?</div>
    
    <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <span>E-MAIL</span>
        <input type="text" name="google_login" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <span>SENHA</span>
        <input type="password" name="google_password" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <div class="title_camps col-lg-12 col-md-12 col-sm-12 col-xs-12">INFORMAÇÕES DE SEGMENTAÇÃO</div>
    
    <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span>POSSUI ALGUMA FORMA DE VEICULAÇÃO ONLINE/OFFLINE? (FOLHETO, ANÚNCIOS EM ALGUM OUTRO SITE, CLASSIFICADO, ETC.)</span>
        <input type="text" name="ad_veiculacao" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span>TEM ALGUMA FRASE DE DESTAQUE/MOTE OU COMUNICAÇÃO QUE JÁ UTILIZE PARA TERMOS DE REFERÊNCIA NA ABORDAGEM?</span>
        <input type="text" name="ad_destaque" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span>JÁ POSSUI CONTA NO ADWORDS? SE SIM, QUAL VALOR INVESTIDO MENSALMENTE?</span>
        <input type="text" name="ad_valor_investido" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span>QUAL PERFIL DO PÚBLICO-ALVO/CONSUMIDOR?</span>
        <input type="text" name="ad_publico_alvo" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span>ONDE DESEJA ATINGIR CLIENTES EM POTENCIAL?</span>
        <input type="text" name="ad_clientes_potencial" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span>QUAL PRODUTO OU SERVIÇO DESEJA DESTACAR INICIALMENTE? CITE 2.</span>
        <input type="text" name="ad_destaque_inicial" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span>JÁ TEM UM ORÇAMENTO BASE PARA INVESTIMENTO MENSAL EM GOOGLE ADWORDS? QUAL?</span>
        <input type="text" name="ad_orcamento" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <input type="hidden" name="type_action" id="type_action" value="{type_action}"/>
    <input type="hidden" name="identification_compra" id="identification_compra" value="{IdentUrl}"/>
    
    <div class="return_form"></div>
    
    <div class="send_info_form col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <input type="submit" name="send_informations" id="send_information" class="radius5" value="ENVIAR INFORMAÇÕES" />
    </div>
</form>
<!-- END COMPLETAR_CADASTRO_ADWORDS -->