<!-- BEGIN FORMAS_PAGAMENTO -->
<div class="ambiente_seguro col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <span>AMBIENTE 100% SEGURO</span>
    <p>Após a confirmação de pagamento, você receberá um e-mail solicitando algumas breves informações sobre seu perfil do Instagram. São dados fundamentais para dar início à automação. Portanto, fique atento a sua caixa de e-mail ;)</p>
</div>

<div class="select_form_payment col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>FORMAS DE PAGAMENTOS</h2>
    <div class="tab_cartao tabss ativa col-lg-6 col-md-6 col-sm-6 col-xs-6">CARTÃO DE CRÉDITO</div>
    <div class="tab_boleto tabss col-lg-6 col-md-6 col-sm-6 col-xs-6">BOLETO BANCÁRIO</div>
    <div class="tab_cartao_show col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form action="{SELF}" method="post" name="form_card" id="form_card">
            <label class="col-lg-4 col-md-9 col-sm-8 col-xs-12">
                <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12">NÚMERO DO CARTÃO:</span>
                <input type="text" name="numero_cartao" id="cartao" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            </label>
            
            <label class="col-lg-4 col-md-9 col-sm-8 col-xs-12">
                <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12">NOME:</span>
                <input type="text" name="nome_cartao" id="cartao" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            </label>
            
            <label class="col-lg-4 col-md-9 col-sm-8 col-xs-12">
                <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12">SOBRENOME:</span>
                <input type="text" name="sobrenome_cartao" id="cartao" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            </label>
            
            <label class="col-lg-3 col-md-9 col-sm-8 col-xs-12">
                <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12">MÊS DE VALIDADE:</span>
                <select name="mes_validade" id="mes_validade" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <option value="" selected="selected">Selecione</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </label>
            
            <label class="col-lg-3 col-md-9 col-sm-8 col-xs-12">
                <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12">ANO DE VALIDADE:</span>
                <select name="ano_validade" id="ano_validade" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <option value="" selected="selected">Selecione</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2029">2029</option>
                    <option value="2030">2030</option>
                    <option value="2031">2031</option>
                    <option value="2032">2032</option>
                    <option value="2033">2033</option>
                    <option value="2034">2034</option>
                    <option value="2035">2035</option>
                    <option value="2036">2036</option>
                    <option value="2037">2037</option>
                    <option value="2038">2038</option>
                    <option value="2039">2039</option>
                    <option value="2040">2040</option>
                </select>
            </label>
            
            <label class="{ClassCodSeguranca}">
                <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12">CÓDIGO DE SEGURANÇA:</span>
                <input type="text" name="codigo_seguranca" id="codigo_seguranca" placeholder="CVV" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            </label>
            
            <!-- BEGIN PGTO_PARCELADO -->
            <label class="{ClassParcelas}">
                <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12">PARCELAMENTO:</span>
                <select name="parcelas" id="parcelas" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <option value="" selected="selected">Selecione</option>
                    <!-- BEGIN FOR_PARCELAMENTO -->
                    <option value="{NumeroParcelas}">{ValorParcelado}</option>
                    <!-- END FOR_PARCELAMENTO -->
                </select>
            </label>
            <!-- END PGTO_PARCELADO -->
            
            <input type="hidden" name="type_action" id="type_action" value="{type_action_card}"/>
            <input type="hidden" name="identificador" id="identificador" value="{Identificador}"/>
            
            <div class="return_form"></div>
            
            <div class="send_info_form_payment col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <input type="submit" name="send_card" id="send_card" class="radius5" value="REALIZAR PAGAMENTO" />
            </div>
        </form>
    </div>
    
    <div class="tab_boleto_show col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form action="{SELF}" method="post" name="form_slip" id="form_slip">
            <h3>DETALHES DE PAGAMENTO:</h3>
            <p>Fique atento(a) ao vencimento do boleto. Você pode pagar o boleto em qualquer banco ou casa lotérica até o dia do vencimento!<br>As compras efetuadas com boleto levam até 3 dias úteis para serem compensadas.</p>
            
            <input type="hidden" name="type_action" id="type_action" value="{type_action_slip}"/>
            <input type="hidden" name="identificador" id="identificador" value="{Identificador}"/>

            <div class="return_form"></div>

            <div class="send_info_form_payment col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <input type="submit" name="send_boleto" id="send_boleto" class="radius5" value="GERAR BOLETO" />
            </div>
        </form>
    </div>
</div>
<!-- END FORMAS_PAGAMENTO -->