<!-- BEGIN INFORMACOES_PESSOAIS -->
<div class="ambiente_seguro col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <span>AMBIENTE 100% SEGURO</span>
    <p>Após a confirmação de pagamento, você receberá um e-mail solicitando algumas breves informações sobre seu perfil do Instagram. São dados fundamentais para dar início à automação. Portanto, fique atento a sua caixa de e-mail ;)</p>
</div>

<form action="{URL_CHECKOUT}/controller/post.php" method="post" name="form_informacoes" id="form_informacoes" class="camps_info_buy col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="title_camps smt col-lg-12 col-md-12 col-sm-12 col-xs-12">INFORMAÇÕES PESSOAIS</div>
    <label class="col-lg-4 col-md-7 col-sm-12 col-xs-12">
        <span>NOME COMPLETO / NOME FANTASIA:</span>
        <input type="text" name="nome_completo" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <label class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
        <span>CPF / CNPJ:</span>
        <input type="text" name="cpf_cnpj" onKeyUp="javascript:somente_numero(this);" maxlength="14" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <span>CELULAR / WHATSAPP:</span>
        <input type="text" name="celular" id="celular" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <label class="col-lg-6 col-md-4 col-sm-12 col-xs-12">
        <span>E-MAIL:</span>
        <input type="text" autocomplete="off" name="email" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <label class="col-lg-6 col-md-4 col-sm-12 col-xs-12">
        <span>CONFIRMAÇÃO DE E-MAIL:</span>
        <input type="text" autocomplete="off" name="Confemail" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" onkeydown="if(event.ctrlKey && event.keyCode==86){return false;}" />
    </label>
    
    <div class="title_camps col-lg-12 col-md-12 col-sm-12 col-xs-12">INFORMAÇÕES DE LOCALIZAÇÃO</div>
    
    <label class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
        <span>CEP:</span>
        <input type="text" name="cep" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" id="cep" maxlength="9" onBlur="getEndereco()" />
    </label>
    
    <label class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <span>ENDEREÇO:</span>
        <input type="text" name="endereco" id="endereco" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <label class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <span>BAIRRO:</span>
        <input type="text" name="bairro" id="bairro" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <label class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <span>NÚMERO:</span>
        <input type="text" name="numero" onKeyUp="javascript:somente_numero(this);" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" maxlength="4" />
    </label>
    
    <label class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <span>CIDADE:</span>
        <input type="text" name="cidade" id="cidade" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <label class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <span>ESTADO:</span>
        <input type="text" name="estado" id="estado" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" maxlength="2" />
    </label>
    
    <div class="title_camps col-lg-12 col-md-12 col-sm-12 col-xs-12">INFORMAÇÕES COMPLEMENTARES</div>
    
    <label class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <span>CUPOM DE DESCONTO:</span>
        <input type="text" name="cupom" id="cupom" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <!-- BEGIN VERIFICA_ORIGENS -->
    <label class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <span>COMO NOS CONHECEU:</span>
        <select name="como_conheceu" id="como_conheceu" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <option value="" selected="selected">Selecione</option>
            <!-- BEGIN FOREACH_ORIGENS -->
            <option value="{ident}">{titulo}</option>
            <!-- END FOREACH_ORIGENS -->
        </select>
    </label>
    <!-- END VERIFICA_ORIGENS -->
    
    <label class="col-lg-2 col-md-6 col-sm-12 col-xs-12"> 
        <span>CÓDIGO VENDEDOR:</span> 
        <input type="text" name="cod_vendedor" id="cod_vendedor" class="radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" />
    </label>
    
    <label class="termos_accpet col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span>Concordo com os <a href="{URL_BASE}/termos-servico" target="_blank" title="Termos de serviço">Termos de serviço</a></span>
        <input type="checkbox" name="termos_accpt" id="termos_accpt" value="sim" />
    </label>
    
    <input type="hidden" name="type_action" id="type_action" value="{type_action}"/>
    <input type="hidden" name="identification_plan" id="identification_plan" value="{IdentUrl}"/>
    
    <div class="return_form"></div>
    
    <div class="send_info_form col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <input type="submit" name="send_informations" id="send_information" class="radius5" value="ESCOLHER FORMA DE PAGAMENTO" />
    </div>
</form>
<!-- END INFORMACOES_PESSOAIS -->