<!-- BEGIN PAGAMENTO_REALIZADO -->
<div class="pagamento_realizado col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <img src="{URL_CHECKOUT}/imagens/checked.png" alt="">
    <span>PEDIDO EFETUADO COM SUCESSO!</span>
    <p>
        Agora você irá receberá 2 e-mails: o primeiro será enviado pela intermediadora confirmando o seu pagamento, e um segundo e-mail para completar os dados de segmentação.
        <br><br>
        O prazo máximo para entregarmos a plataforma rodando é de até 48 horas. Caso tenha dúvidas, entre em contato com nosso suporte através do WhatsApp <strong>(44) 99703–0952</strong> ou pelo e-mail: <strong>suporte@otimizaragora.com.br</strong>.
    </p>
</div>
<!-- END PAGAMENTO_REALIZADO -->