<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" data-module="Menu" data-bgcolor="Main BG" class="currentTable">
    <tr>
        <td align="center">
            <table align="center" border="0" cellpadding="0" cellspacing="0" class="display-width" width="100%" data-bgcolor="Menu Section BG">
                <tr>
                    <td align="center" style="padding:0 30px;" class="editable">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="display-width" width="">
                            <tr>
                                <td height="10">
                                </td>
                            </tr>
                            <tr>
                                <td class="editable">
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" class="display-width" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                        <tr>
                                            <td align="center" valign="middle"><img src="https://otimizaragora.com.br/images/logoEmails.png"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="10">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" data-module="Welcome" data-bgcolor="Main BG" class="currentTable">
    <tr>
        <td align="center">
            <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="display-width" width="600" data-bgcolor="Section BG-1">
                <tr>
                    <td height="31"></td>
                </tr>
                <tr>
                    <td height="395" align="center" class="editable" style="padding:0 30px;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="display-width" width="600">
                            <tr>
                                <td height="10">
                                </td>
                            </tr>
                            <tr>
                                <td align="center" class="Heading editable" style="color:#333333; font-family:Segoe UI, Helvetica Neue, Arial, Verdana, Trebuchet MS, sans-serif; font-weight:700; font-size:28px; line-height:34px; letter-spacing:1px;" data-color="Title-1" data-size="Title-1" data-min="12" data-max="48">
                                    Olá %NomeUsuario!
                                </td>
                            </tr>
                            <tr>
                                <td height="30">
                                </td>
                            </tr>
                            <tr>
                                <td align="left" class="Content editable" style="color:#666666; font-family:Segoe UI, Helvetica Neue, Arial, Verdana, Trebuchet MS, sans-serif; font-size:15px; line-height:25px;" data-color="Welcome Content" data-size="Welcome Content" data-min="12" data-max="35">
                                    <p>
                                        Olá, iniciamos a configuração do setup de sua campanha no Google AdWords!<br /><br />
                                        A partir de agora vamos criar e melhorar suas estratégias de negócios, focando em novos grupos de anúncios, campanhas, palvras-chave, extensões de anúncio, títulos e descrições que sejam chamativos e que convertam mais.<br /><br />
                                        Atenciosamente,<br />
                                        Equipe Otimizar Agora
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td height="13">
                                </td>
                            </tr>
                            <tr>
                                <td height="69" align="left" valign="middle" style="line-height:0px;">
                                    <img src="https://otimizaragora.com.br/images/footerEmails.png" alt="" width="661" height="69" usemap="#Map">
                                    <map name="Map">
                                        <area shape="circle" coords="626,34,17" href="https://instagram.com/otimizaragora" target="_blank">
                                        <area shape="circle" coords="574,34,17" href="https://facebook.com/otimizaragora" target="_blank">
                                    </map>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="40">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="60"></td>
    </tr>
</table>