<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" data-module="Menu" data-bgcolor="Main BG" class="currentTable">
   <tr>
      <td align="center">
         <table align="center" border="0" cellpadding="0" cellspacing="0" class="display-width" width="100%" data-bgcolor="Menu Section BG">
            <tr>
               <td align="center" style="padding:0 30px;" class="editable">
                 <table align="center" border="0" cellpadding="0" cellspacing="0" class="display-width" width="">
                     <tr>
                        <td height="10">
                        </td>
                     </tr>
                     <tr>
                        <td class="editable">
                           <table align="left" border="0" cellpadding="0" cellspacing="0" class="display-width" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                              <tr>
                                 <!-- <td align="center" valign="middle"><img src="img/logo-emails.png"></td> -->
                              </tr>
                           </table>
                           
                        </td>
                     </tr>
                     <tr>
                        <td height="10">
                        </td>
                     </tr>
               </table></td>
            </tr>
         </table>
      </td>
   </tr>
</table>

<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" data-module="Welcome" data-bgcolor="Main BG" class="currentTable">
   <tr>
      <td align="center">
         <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="display-width" width="600" data-bgcolor="Section BG-1">
            <tr>
               <td height="31"></td>
           </tr>
            <tr>
               <td height="395" align="center" class="editable" style="padding:0 30px;">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" class="display-width" width="600">
                     
                     <tr>
                        <td height="10">
                        </td>
                     </tr>
                     <tr>
                        <td align="center" class="Heading editable" style="color:#333333; font-family:Segoe UI, Helvetica Neue, Arial, Verdana, Trebuchet MS, sans-serif; font-weight:700; font-size:28px; line-height:34px; letter-spacing:1px;" data-color="Title-1" data-size="Title-1" data-min="12" data-max="48">
                           Olá %NomeUsuario</td>
                     </tr>
                     <tr>
                        <td height="30">
                        </td>
                     </tr>
                     <tr>
                        <td align="left" class="Content editable" style="color:#666666; font-family:Segoe UI, Helvetica Neue, Arial, Verdana, Trebuchet MS, sans-serif; font-size:15px; line-height:25px;" data-color="Welcome Content" data-size="Welcome Content" data-min="12" data-max="35">
                          <p><strong>Fique por dentro das etapas de otimização do seu site!</strong></p>
                          <p><strong>O que estamos fazendo: Google Search Console (webmaster)</strong></p>
                          <p>Chegamos na etapa de configuração de sua conta no Google Analytics, que é a ferramenta oficial do Google para monitoramento de  toda atividade do seu site, como visitas filtradas por região, dispositivos, horários, frequência de retorno, páginas visitadas, inclusive com dados em tempo real.
                          <br /><br />


                       <p><strong>Dúvidas?</strong> Fale com o nosso suporte.<br>
                       WhatsApp: (44) 99775-4129 / E-mail: suporte@otimizaragora.com.br<br>
                       Horário de atendimento: Segunda a Sexta, das 8h às 17:30h<br></p>
                       <p>Atenciosamente,<br>
                       Equipe Otimizar Agora</p>

                       </td>
                     </tr>
                     <tr>
                        <td height="13">
                        </td>
                     </tr>
                     <tr>
                        <td height="69" align="left" valign="middle" style="line-height:0px;"><img src="https://www.otimizaragora.com.br/images/logo.png" alt="" width="230" height="65"></td>
                     </tr>
                     
                  </table>
               </td>
            </tr>
            <tr>
               <td height="40">
               </td>
            </tr>
         </table>
      </td>
   </tr>
   <tr>
      <td height="60"></td>
   </tr>
</table>