<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" data-module="Menu" data-bgcolor="Main BG" class="currentTable">
   <tr>
      <td align="center">
         <table align="center" border="0" cellpadding="0" cellspacing="0" class="display-width" width="100%" data-bgcolor="Menu Section BG">
            <tr>
               <td align="center" style="padding:0 30px;" class="editable">
                 <table align="center" border="0" cellpadding="0" cellspacing="0" class="display-width" width="">
                     <tr>
                        <td height="10">
                        </td>
                     </tr>
                     <tr>
                        <td class="editable">
                           <table align="left" border="0" cellpadding="0" cellspacing="0" class="display-width" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                              <tr>
                                 <!-- <td align="center" valign="middle"><img src="img/logo-emails.png"></td> -->
                              </tr>
                           </table>
                           
                        </td>
                     </tr>
                     <tr>
                        <td height="10">
                        </td>
                     </tr>
               </table></td>
            </tr>
         </table>
      </td>
   </tr>
</table>

<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" data-module="Welcome" data-bgcolor="Main BG" class="currentTable">
   <tr>
      <td align="center">
         <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="display-width" width="600" data-bgcolor="Section BG-1">
            <tr>
               <td height="31"></td>
           </tr>
            <tr>
               <td height="395" align="center" class="editable" style="padding:0 30px;">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" class="display-width" width="600">
                     
                     <tr>
                        <td height="10">
                        </td>
                     </tr>
                     <tr>
                        <td align="center" class="Heading editable" style="color:#333333; font-family:Segoe UI, Helvetica Neue, Arial, Verdana, Trebuchet MS, sans-serif; font-weight:700; font-size:28px; line-height:34px; letter-spacing:1px;" data-color="Title-1" data-size="Title-1" data-min="12" data-max="48">
                           Olá %NomeUsuario</td>
                     </tr>
                     <tr>
                        <td height="30">
                        </td>
                     </tr>
                     <tr>
                        <td align="left" class="Content editable" style="color:#666666; font-family:Segoe UI, Helvetica Neue, Arial, Verdana, Trebuchet MS, sans-serif; font-size:15px; line-height:25px;" data-color="Welcome Content" data-size="Welcome Content" data-min="12" data-max="35"><p><strong>Seu pagamento foi aprovado.</strong></p>
                          <p>Agora precisamos conhecer um pouco sobre o seu negócio. Então, por favor, preencha um rápido briefing clicando no botão abaixo. Essas informações que você irá fornecer são essenciais para iniciarmos a otimização do seu site. <br /><br />

                           <p><a href="https://www.otimizaragora.com.br/checkout/completar_cadastro/%idenAss" target="_blank" style="width: 292px; background:#9cc500; font-size: 18px; color:#fff; font-weight: bold; text-align: center; border-radius:5px; padding:10px 0; margin:0 auto; text-decoration: none; display: block;">PREENCHER BRIEFING</a><br /></p>

                           
                          <p>Assim que recebermos o briefing preenchido, iniciaremos a otimização e você acompanhará todo o processo recebendo um e-mail a cada etapa concluída. Portanto, fique de olho no seu e-mail para ficar por dentro de tudo ;)<br /><br />

                       <p><strong>Dúvidas?</strong> Fale com o nosso suporte.<br>
                       WhatsApp: (44) 99775-4129 / E-mail: suporte@otimizaragora.com.br<br>
                       Horário de atendimento: Segunda a Sexta, das 8h às 17:30h<br></p>
                       <p>Atenciosamente,<br>
                       Equipe Otimizar Agora</p>

                       </td>
                     </tr>
                     <tr>
                        <td height="13">
                        </td>
                     </tr>
                     <tr>
                        <td height="69" align="left" valign="middle" style="line-height:0px;"><img src="https://www.otimizaragora.com.br/images/logo.png" alt="" width="230" height="65"></td>
                     </tr>
                     
                  </table>
               </td>
            </tr>
            <tr>
               <td height="40">
               </td>
            </tr>
         </table>
      </td>
   </tr>
   <tr>
      <td height="60"></td>
   </tr>
</table>