<!--<div class="top_panel_title top_panel_style_4 title_present breadcrumbs_present scheme_original">
    <div class="top_panel_title_inner top_panel_inner_style_4">
        <div class="content_wrap">
            <h4 class="page_title">Condições para Agências</h4>
            <div class="breadcrumbs">
                <a class="breadcrumbs_item home" href="{URL_BASE}">Home</a>
                <span class="breadcrumbs_delimiter"></span>
                <span class="breadcrumbs_item current">Condições para Agências</span>
            </div>
        </div>
    </div>
</div>-->
<section class="subscribe-section text-center" style="background:url('{URL_BASE}/images/Fundo_page.jpg') no-repeat;background-size:cover;">
    <div class="container">
        <div class="text-center">
     	    <h1 class="intro-pic wow slideInLeft TituloResp" style="color: #ffffff"><strong>CONDIÇÕES PARA AGÊNCIAS</strong></h1>	         
        </div>   
    </div>
</section>
<section style="padding: 4em 0" >
    <div class="letterStyle container">
        <div class="row">
            <div class="col-md-12 wow slideInLeft">
                <div class="row">
                    <div class="col-md-12">
                        {descricao}
                    </div>
                    <div class="col-md-12">
                        <form action="{URL_BASE}/controller/post.php" method="post" name="form_agencias" id="form_send" class="form_agencias row">
                            <label class="col-md-6">
                                <span>NOME DO RESPONSÁVEL:</span>
                                <input type="text" name="nome_responsavel" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" />
                            </label>
                
                            <label class="col-md-6">
                                <span>NOME DA AGÊNCIA:</span>
                                <input type="text" name="nome_agencia" id="nome_agencia" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" />
                            </label>
                
                            <label class="col-md-6">
                                <span>E-MAIL:</span>
                                <input type="text" name="email" id="email" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" />
                            </label>
                
                            <label class="col-md-6">
                                <span>CELULAR / WHATSAPP:</span>
                                <input type="text" name="celular" id="celular" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" />
                            </label>
                
                            <label class="col-md-6">
                                <span>CNPJ DA AGÊNCIA:</span>
                                <input type="text" name="cnpj_agencia" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" />
                            </label>
                
                            <label class="col-md-6">
                                <span>NÚMERO DE CLIENTES:</span>
                                <select name="numero_Clientes" id="numero_Clientes" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <option value="0 a 10">0 a 10</option>
                                    <option value="11 a 50">11 a 50</option>
                                    <option value="51 a 100">51 a 100</option>
                                </select>
                            </label>
                
                            <label class="col-md-12">
                                <span>OBSERVAÇÕES:</span>
                                <textarea name="observacoes" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></textarea>
                            </label>
                
                            <input type="hidden" name="tpf" id="tpf" value="{tpf}"/>
                            
                            <div class="return_form"></div>
                
                            <div class="send_info_form col-lg-offset-10 col-md-offset-10 col-sm-offset-10 col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <input type="submit" name="send_informacoes" id="send_informacoes" class="radius5" value="ENVIAR" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>