<div class="top_panel_title top_panel_style_4 title_present breadcrumbs_present scheme_original">
    <div class="top_panel_title_inner top_panel_inner_style_4">
        <div class="content_wrap">
            <h4 class="page_title">Dúvidas frequentes</h4>
            <div class="breadcrumbs">
                <a class="breadcrumbs_item home" href="{URL_BASE}">Home</a>
                <span class="breadcrumbs_delimiter"></span>
                <span class="breadcrumbs_item current">Dúvidas frequentes</span>
            </div>
        </div>
    </div>
</div>

<!-- BEGIN VERIFICA_LISTAGEM -->
<section class="page_center_otimizar">
    <div class="content_wrap">
        <!-- BEGIN FOREACH -->
        <div class="list_perguntas">
            <div class="title_perguntas accordionButton">{pergunta}</div>
            <div class="descr_perguntas accordionContent">{resposta}</div>
        </div>
        <!-- END FOREACH -->
    </div>
</section>
<!-- END VERIFICA_LISTAGEM -->