<div class="fullscreen landing parallax" style="background-image:url('images/fundo-1.jpg');" data-img-width="2000" data-img-height="1333" data-diff="100">	
	<div class="overlay">
		<div class="container">
			<div class="row">
				<div class="col-md-6">						
					<div class="logo wow fadeInDown"></div>					
                    <h1 style="text-align:center" class="wow fadeInLeft"><strong>APAREÇA NA</strong> PRIMEIRA PÁGINA<strong> DO GOOGLE</strong></h1>				
					<div style="text-align:center" class="landing-text wow fadeInUp">
						<h2><strong>Somos a Empresa n°1<br> em SEO e Google Adwords</strong></h2>
					</div>				
					<div class="head-btn wow fadeInLeft">					
					</div>
				</div>		
				<div class="col-md-6">				
					<div class="signup-header wow fadeInUp">
                        <div class="video-header">
                            <div class="video-embed wow fadeIn" data-wow-duration="1s">						
                                <iframe width="770" height="433" src=" https://www.youtube.com/embed/s9inr8Zc_RY?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>              
                            </div>
                        </div>					
					</div>				
				</div>
			</div>
		</div> 
	</div> 
</div>

<div  class="landing parallax container-fluid" style="background:url('images/fundo-2.jpg') no-repeat;" data-img-width="2000" data-img-height="1333" data-diff="100" id="intro">
    <div class="hidden-xs text-center">
        <img style="position:relative;top:-80px"  src="images/Engrenagem.png" alt="">
    </div>      
	<div class="row">		
        <div class="col-lg-12 text-center wow fadeInLeft">
            <h2 style="color: #ffffff;font-weight:800; " class="section-heading">NOSSOS SERVIÇOS</h2>
            <h4 style="color: #003664;font-weight:800;" class="section-heading">O QUE PODEMOS FAZER POR SEU NEGÓCIO</h4>    
            <br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 intro-pic wow fadeInLeft">
            <div class="row">
                <div class="diagonal servicos col-md-5 slideInLeft">          
                    <div class="diagonalInverse">
                        <h3 style="color:#003664;font-weight:800;">GOOGLE MEU NEGÓCIO</h3>
                        <h4 style="color:#89C600;font-weight:800;">Apareça no Google Maps e nas pesquisas com sua empresa. Mostre seu endereço, telefone, site e avaliações e seja reconhecido nas web.</h4>
                    </div>
                </div>
                <div class="servicos col-md-offset-2 col-md-5 wow slideInRight">
                    <h3 style="color:#ffffff;font-weight:800;">CADASTRO EM BUSCADORES</h3>
                    <h4 style="color:#003664;font-weight:800;">Faremos o cadastro de seu site em mais de 1.000 buscadores, classificados e parceiros, aumentando sua relevância e autoridade nas pesquisas.</h4>					
                </div>
            </div>
		</div>    
	</div>    
    <div class="row">
        <div class="col-lg-12 intro-pic wow fadeInRight">
            <div class="row">
                <div class="servicos col-md-5 wow slideInLeft">
                    <h3 style="color:#89C600;font-weight:800;">GOOGLE ANALYTICS</h3>
                    <h4 style="color:#003664;font-weight:800;">Acompanhe as visitas, locais e tipo de público que visita seu site, inclusive em tempo real com o Google Analytics.</h4>					
                </div> 
                <div class="servicos col-md-offset-2 col-md-5 diagonal2 slideInRight">
                    <div class="diagonalInverse2">
                        <h3 style="color:#003664;font-weight:800;">RELATÓRIO COMPLETO</h3>
                        <h4 style="color:#89C600;font-weight:800;">Receba o relatório completo do desempenho de seu site durante a otimização.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 intro-pic wow fadeInLeft">
            <div class="row">
                <div class="diagonal servicos col-md-5 slideInLeft">
                    <div class="diagonalInverse">
                        <h3 style="color:#003664;font-weight:800;">GOOGLE ADWORDS</h3>
                        <h4 style="color:#89C600;font-weight:800;">Criamos e gerenciamos campanhas no Google AdWords. Desenvolvemos anúncios vendedores com o menor custo por clique e otimizamos a campanha para melhoria do desempenho.</h4>
                    </div>
                </div>
                <div class="servicos col-md-offset-2 col-md-5 wow slideInRight">
                    <h3 style="color:#ffffff;font-weight:800;">RESULTADOS COMPROVADOS</h3>
                    <h4 style="color:#003664;font-weight:800;">Seguimos as métricas dos principais buscadores do mercado como Google, Bing e Yahoo, além de desenvolvermos estratégias exclusivas que garantem resultados reais.</h4>					
                </div>
            </div>
        </div>
    </div>
</div>

<div  class="landing parallax" style="background:url('images/fundo-3.jpg') no-repeat;" data-img-width="2000" data-img-height="1333" data-diff="100" id="package">
    <div class="container">
        <div class="hidden-xs text-center">
            <img style="position:relative;top:-88px"  src="images/Grafico.png" alt="">
        </div>
        <div class="row">
            <div class="text-center">		
                <div class="col-lg-12 text-center wow fadeInLeft">
                    <h2 style="color: #003664;font-weight:800; font-size:40px" class="section-heading">PLANOS</h2>
                    <h4 style="color: #FFFFFF;font-weight:800;" class="section-heading">CONTRATE AGORA UM DE NOSSOS PLANOS</h4>    
                    <br><br>
                </div>		
            </div>
            <div class="row package-option">
                <div  class="col-sm-4">
                    <div style="background-color:#ffffff" class="price-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="price-heading text-center">		  
                            <h3><strong>OTIMIZAÇÃO</strong> SEO</h3>
                            <P>Melhore seu site na busca orgânica</P>
                        </div>			
                        <div class="price-groupBlue text-center">
                            <span class="dollar">R$</span>
                            <span class="price">{val_plano_seo}</span><br>
                            <span class="time">+R$ {assinatura_plano_seo}</span>
                            <span class="time">/mês</span>
                        </div>
                        <div class="price-table">
                            <table class="table table-striped">
                                <tr>
                                    <td>Análise de Palavras-chave</td>
                                </tr>
                                <tr>
                                    <td>Inclusão de Meta Tags</td>
                                </tr>
                                <tr>
                                    <td>Inclusão de Robots.txt</td>
                                </tr>
                                <tr>
                                    <td>Inclusão de Sitemap.xml</td>
                                </tr>
                                <tr>
                                    <td>Verificação de URLs</td>
                                </tr>
                                <tr>
                                    <td>Análise de Performance</td>
                                </tr>
                                <tr>
                                    <td>Google Webmasters</td>
                                </tr>
                                <tr>
                                    <td>Google Analytics</td>
                                </tr>
                                <tr>
                                    <td>Google Meu Negócio</td>
                                </tr>
                                <tr>
                                    <td>Google Plus</td>
                                </tr>
                                <tr>
                                    <td>Melhoria do Código Fonte</td>
                                </tr>
                                <tr>
                                    <td>Relatório Completo da Otimização</td>
                                </tr>
                            </table>
                        </div>	
                        <div class="price-footer text-center">
                            <a class="btn btn-priceB" href="{URL_BASE}/checkout/informacoes_pessoais/{inden_plan_seo}">CONTRATAR</a>
                        </div>
                    </div>
                </div>		
                <div class="col-sm-4 scaled-up">
                    <div style="background-color:#ffffff" class="price-box wow fadeInUp" data-wow-delay="0.4s">
                        <div class="price-heading text-center">				
                            <h3><strong>COMBO</strong></h3>
                            <P>SEO + Google Adwords</P>
                        </div>			
                        <div class="price-groupGreen text-center">
                            <span class="dollar">R$</span>
                            <span class="price">{val_plano_combo}</span><br>
                            <span class="time">+R${assinatura_plano_combo}</span>
                            <span class="time">/mês</span>
                        </div>
                        <div class="price-table">
                            <table class="table table-striped">
                                <tr>
                                    <td>SEO</td>
                                </tr>
                                <tr>
                                    <td>Inclusão de Meta Tags</td>
                                </tr>
                                <tr>
                                    <td>Análise de Performance</td>
                                </tr>
                                <tr>
                                    <td>Cadastro Google Meu Negócio</td>
                                </tr>
                                <tr>
                                    <td>Cadastro Google Analytics</td>
                                </tr>
                                <tr>
                                    <td>Melhoria do Código Fonte</td>
                                </tr>
                                <tr>
                                    <td>+</td>
                                </tr>
                                <tr>
                                    <td>AdWords</td>
                                </tr>
                                <tr>
                                    <td>Setup de Campanha</td>
                                </tr>
                                <tr>
                                    <td>Análise de Mercado</td>
                                </tr>
                                <tr>
                                    <td>Análise de Concorrentes</td>
                                </tr>
                                <tr>
                                    <td>Criação de Anúncios Vendedores</td>
                                </tr>
                            </table>
                        </div>			
                        <div class="price-footer text-center">
                            <a class="btn btn-priceG" href="{URL_BASE}/checkout/informacoes_pessoais/{inden_plan_combo}">CONTRATAR</a>
                        </div>
                    </div>
                </div>	
                <div class="col-sm-4">
                    <div style="background-color:#ffffff" class="price-box wow fadeInUp" data-wow-delay="0.6s">
                        <div class="price-heading text-center">				
                            <h3><strong>GOOGLE</strong> ADWORDS</h3>
                            <P>Fique no topo com anúncios vendedores</P>
                        </div>			  
                        <div class="price-groupBlue text-center">
                            <span class="dollar">R$</span>
                            <span class="price">{val_plano_adwords}</span><br>
                            <span class="time">+R$ {assinatura_plano_adwords}</span>
                            <span class="time">/mês</span>
                        </div>
                        <div class="price-table">
                            <table class="table table-striped">
                                <tr>
                                    <td>Setup de Campanha</td>
                                </tr>
                                <tr>
                                    <td>Análise de Posicionamento</td>
                                </tr>
                                <tr>
                                    <td>Análise de Concorrentes</td>
                                </tr>
                                <tr>
                                    <td>Qualificação de Palavras-Chave</td>
                                </tr>
                                <tr>
                                    <td>Criação Anúncios Vendedores</td>
                                </tr>
                                <tr>
                                    <td>Orientações de Especialistas</td>
                                </tr>
                                <tr>
                                    <td>Otimização de Anúncios</td>
                                </tr>
                                <tr>
                                    <td>Extensões de Anúncios</td>
                                </tr>
                                <tr>
                                    <td>Aprimoramento das Campanhas</td>
                                </tr>
                                <tr>
                                    <td>Otimização de Investimento</td>
                                </tr>
                                <tr>
                                    <td>Remarketing</td>
                                </tr>
                                <tr>
                                    <td>Relatório</td>
                                </tr>
                            </table>
                        </div>
                        <div class="price-footer text-center">
                            <a class="btn btn-priceB" href="{URL_BASE}/checkout/informacoes_pessoais/{inden_plan_adwords}">CONTRATAR</a>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>

<div id="depo">
    <div class="landing parallax" id="intro"  style="background:url('images/fundo-4.jpg') no-repeat;"  data-img-width="2000" data-img-height="1333" data-diff="100">
        <div class="container">
            <div class="hidden-xs text-center">
                <img style="position:relative;top:-80px"  src="images/Conversa.png" alt="">
            </div>
            <div class="row">  
                <div class="col-lg-12 text-center wow fadeInLeft">
                    <h2 style="color: #ffffff;font-weight:800; " class="section-heading">DEPOIMENTOS</h2>
                    <h4 style="color: #FFFFFF;font-weight:800;font-size:20px" class="section-heading">VEJA O QUE NOSSOS CLIENTES ESTÃO DIZENDO</h4>    
                    <br><br>
                </div>  
                <div class="col-md-6 wow slideInLeft">
                    <div class="video-header">
                        <div class="video-embed wow fadeIn" data-wow-duration="1s">	              
                            <iframe width="770" height="433" src="https://www.youtube.com/embed/-AXGAn5hdsM?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>					
                </div>       
                <div class="col-md-6 wow slideInRight">
                    <div class="video-header">
						<div class="video-embed wow fadeIn" data-wow-duration="1s">	            
                            <iframe width="770" height="433" src="https://www.youtube.com/embed/PNONdsOi91U?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>	      
                </div>
                <div class="col-md-6 wow slideInLeft">
                    <div class="video-header">
                        <div class="video-embed wow fadeIn" data-wow-duration="1s">	              
                            <iframe width="770" height="433" src="https://www.youtube.com/embed/oc-LC5LjshE?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>					
                </div>       
                <div class="col-md-6 wow slideInRight">
                    <div class="video-header">
						<div class="video-embed wow fadeIn" data-wow-duration="1s">	            
                            <iframe width="770" height="433" src="https://www.youtube.com/embed/EU3xC8Rw55I?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>	      
                </div>
            </div>        
        </div>  
    </div>
</div>

<div id="intro2"> 
    <div class="container-fluid">
        <div class="row">		
            <div style="padding-top: 25px; padding-bottom: 25px;" class="col-md-8 wow slideInLeft text-center">
                <h2 style="color:#000000">Ainda com alguma dúvida?</h2>
                <h4 style="color:#000000">Confira as principais perguntas que nossos clientes nos enviam</h4>
            </div>			
			<div style="background-color:#86C502;padding-top: 25px; padding-bottom: 25px;" class="col-md-4 wow slideInRight text-center">				 
                <h2><a href="{URL_BASE}/duvidas-frequentes" style="color:#ffffff"> <strong>DÚVIDAS<br> FREQUENTES</strong></a></h2>     	   
            </div>
        </div>    
    </div>
</div>

<section class="landing parallax" style="background:url('images/fundo-5.jpg') no-repeat;"   data-img-width="2000" data-img-height="1333" data-diff="100" id="services">
    <div class="container">
        <div class="row">              
        </div>
        <div class="row text-center wow fadeInRight">
            <div class="col-sm-3">
                <div class="backMember team-member teamMember">          
                    <img src="images/phone-symbol-of-an-auricular-inside-a-circle.svg"  class="imgMember img-responsive" alt="">
                    <h2 class="h2Member service-heading">CONTATO</h2> 
                    <p class="pMember">{vendas_home} (Vendas)</p>     
                    <p class="pMember">44 99775-4129 (Suporte)</p>        
                    <p class="pMember">comercial@otimizaragora.com.br</p>     
                </div>       
            </div>
            <div class="col-sm-3">
                <div class="backMember team-member teamMember">
                    <img src="images/text-documents.svg"  class="imgMember img-responsive" alt="">
                    <h2 class="h2Member service-heading">SOBRE</h2> 
                    <p class="pMember"><a href="#">Dúvidas Frequentes </a></p> 
                    <p class="pMember"><a href="{URL_BASE}/agencias">Condições para Agências</a></p>           
                </div>
            </div>
            <div class="col-sm-3">
                <div class="backMember team-member teamMember">
                    <img src="images/shopping-cart.svg"  class="imgMember img-responsive" alt="">
                    <h2 class="h2Member service-heading">PAGAMENTO</h2>                       
                    <p class="pMember">Confira todas as opções de pagamento.</p>
                    <img style="position:relative;top:60px;max-width:90%" src="images/pagamentos.png" alt="">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="backMember team-member teamMember">
                    <img src="images/mail.svg"  class="imgMember img-responsive" alt="">
                    <h2 class="h2Member service-heading">FALE CONOSCO</h2>                       
                    <input type="text" class="form-control" placeholder="E-mail...">
                    <input type="textarea" class="txtarea form-control input-message" placeholder="Mensagem...">
                    <input type="submit" name="submit" value="Enviar" class="btn-primary" />
                </div>        
            </div>                        
        </div>
    </div>
</section>