<section class="subscribe-section text-center" style="background:url('{URL_BASE}/images/Fundo_page.jpg') no-repeat;background-size:cover;">
    <div class="container">
        <div class="text-center">
     	    <h1 class="intro-pic wow slideInLeft TituloResp" style="color: #ffffff"><strong>QUEM SOMOS</strong></h1>	         
        </div>   
    </div>
</section>

<section style="padding: 4em 0" >
    <div class="letterStyle container">
        <div class="row">
            <div class="col-md-12 wow slideInLeft listequipe">
                <img src="{URL_BASE}/images/equipe.png" class="imgQuemSomos img-responsive" alt="Nossa equipe" title="Nossa equipe" />
                {descricao}
            </div>
        </div>
    </div>
</section>